<div class="demo-toolbar">
    <md-toolbar color="default" class="top-header">
        <a (click)="redirectHomePage()">
            <span><img src="../../images/templeLogo.png" width="53"/></span>
        </a>
        <div class="swaminarayan-title">Vadtaldham swaminarayana sampradaya</div>
        <span class="demo-fill-remaining"></span>
        <span class="admin-user-role-update-dropdown">
            <!-- menu opens when trigger button is clicked -->
            <button md-button disableRipple class="btn-custom user-profile-action-layout" tooltip="Profile" [tooltip-position]="position" [tooltip-delay]="delay * 1000"  [md-menu-trigger-for]="menuheader">J</button>
            <md-menu class="profile-menu" #menuheader="mdMenu">
                <div class="userDetails">
                    <i class="material-icons up-arrow">&#xE5C7;</i>
                    <div class="user-profile-image">
                    <div class="file-upload">
                        <div *ngIf="changeImageStatus">
                            <div class="defaultIcon">V</div>
                            <div class="changeImage-overlay">Change</div>
                        </div>
                        <input type="file" (change)="changeListner($event)" accept=".png, .jpg, .jpeg, .gif"/>
                        <img src="#" class="image"/>
                    </div>
                </div>
                    <div class="user-details">
                        <h3>Vadtaldham</h3>
                        <div>vadtaldham@gmail.com</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>

                <div class="dropdown-footer">
                    <div class="user-action-buttons">
                        <button disableRipple class="lineButton">Change password</button>
                        <button disableRipple class="lineButton on-right" (click)="logout()">Logout</button>
                    </div>
                </div>
            </md-menu>
        </span>
    </md-toolbar>
    <md-toolbar color="primary" class="navigation-url">
        <md-icon class="demo-toolbar-icon" (click)="onMenuClick()">menu</md-icon>
        <span *ngFor="let url of _urls; let last = last" [ngClass]="{'active': last}">&nbsp;
            <a role="button" *ngIf="!last" (click)="navigateTo(url)">{{friendlyName(url)}}</a> <i *ngIf="!last" class="material-icons">&#xE315;</i>
            <span *ngIf="last">{{friendlyName(url)}}</span>
        </span>
        <span class="demo-fill-remaining"></span>
    </md-toolbar>
</div>