.demo-rotini {
    padding: 10px;
    border: 1px solid black;
    background-color: skyblue;
}

.demo-fusilli {
    padding: 10px;
    border: 1px solid black;
    background-color: lightgoldenrodyellow;
}

.demo-spagetti {
    margin: 0;
    padding: 10px;
    border: 1px solid black;
    color: white;
    background-color: rebeccapurple;
    opacity: 0.5;
}
#md-overlay-0{
    top: 18px !important;
}
#md-overlay-0 .md-menu-panel{
    min-width: 370px !important;
    max-width: 600px !important;
}