.card-body {
    margin-left: 10px;
    margin-right: 10px;
}

.md-card {
    box-shadow: 0px 0px 0px 0px #fff;
}

.cardBlogs {
    text-align: center;
    cursor: pointer;
}

.cardBlogs h6, .cardBlogs h3 {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.cardBlogs h3 {
    color: #333;
    font-size: 18px;
}

.cardBlogs h6 {
    padding: 0px 13px;
    font-size: 14px;
    color: #888;
}

.cardBlogs img {
    width: 67px;
    cursor: pointer;
}

.demo-toolbar-icon.md2.md-icon.material-icons {
    cursor: pointer;
}

.donationSection .cardBlogs .md-card-title-group {
    margin: 0px;
}

.md-card:hover {
    box-shadow: 0px 0px 0px 0px #fff;
}

.cardBlogs.md-card {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 196px;
    min-height: 233px;
}

.donationSection .cardBlogs.md-card:hover {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.donationSection .cardBlogs.sideSection, .donationSection .cardBlogs.sideSection:hover {
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

.donationSection h2 {
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.donationSection .md-list-item {
    height: 30px;
    padding: 0px 0px;
    margin: 0px;
}

.countNum {
    font-size: 30px !important;
    margin-top: 20px !important;
}
.mainMenu{
    margin-left: 10px;
}