<div class="demo-grid-list">
    <!-- Dashboard Blog View -->
    <md-card>
        <md-card-content class="demo-basic-list donationSection">
            <md-grid-list cols="4" [rowHeight]="basicRowHeight">
                <!-- Module Block1 -->
                <md-grid-tile>
                    <md-card class="cardBlogs sideSection">
                        <h2>ADMINISTARATOR</h2>
                        <md-nav-list role="list" class="md2 md-nav-list mainMenu">
                            <a md-list-item="" role="listitem" routerLinkActive="active" routerLink="/home/donation/area-management">
                                <div class="md-list-item"> Area management</div>
                            </a>

                            <a md-list-item="" role="listitem" routerLinkActive="active" routerLink="/home/donation/year-management">
                                <div class="md-list-item"> Year management</div>
                            </a>

                            <a md-list-item="" role="listitem" routerLinkActive="active" routerLink="/home/donation/book-type">
                                <div class="md-list-item"> Donation book type</div>
                            </a>
                        </md-nav-list>

                        <h2>DATA MODIFICATION</h2>

                        <md-nav-list role="list" class="md2 md-nav-list mainMenu">
                            <a md-list-item="" role="listitem" routerLinkActive="active"
                               routerLink="/home/donation/donor-profile-update">
                                <div class="md-list-item"> Donor profile update</div>
                            </a>

                            <a md-list-item="" role="listitem" routerLinkActive="active" routerLink="/home/donation/delete-receipt">
                                <div class="md-list-item"> Delete receipt</div>
                            </a>
                        </md-nav-list>
                    </md-card>
                </md-grid-tile>
                <!-- Module Block2 -->
                <md-grid-tile routerLinkActive="active" routerLink="/home/donation/area-management">
                    <md-card class="cardBlogs">
                        <md-card-title-group>
                            <md-card-title><img src="../../../images/activeArea.png"/></md-card-title>
                            <md-card-title><h3 class="countNum">5</h3></md-card-title>
                            <md-card-title><h3>Active area</h3></md-card-title>
                            <md-card-title><h6>Manage area of donation</h6></md-card-title>
                        </md-card-title-group>
                    </md-card>
                </md-grid-tile>

                <!-- Module Block3 -->
                <md-grid-tile routerLinkActive="active" routerLink="/home/donation/year-management">
                    <md-card class="cardBlogs">
                        <md-card-title-group>
                            <md-card-title><img src="../../../images/year.png"/></md-card-title>
                            <md-card-title><h3 class="countNum">2012</h3></md-card-title>
                            <md-card-title><h3>Gujarati Year</h3></md-card-title>
                            <md-card-title><h6>More from year manage</h6></md-card-title>
                        </md-card-title-group>
                    </md-card>
                </md-grid-tile>

                <!-- Module Block4 -->
                <md-grid-tile routerLinkActive="active" routerLink="/home/donation/book-type">
                    <md-card class="cardBlogs">
                        <md-card-title-group>
                            <md-card-title><img src="../../../images/donationBookType.png"/></md-card-title>
                            <md-card-title><h3 class="countNum">6</h3></md-card-title>
                            <md-card-title><h3>Donation book type</h3></md-card-title>
                            <md-card-title><h6>More about donation book type</h6></md-card-title>
                        </md-card-title-group>
                    </md-card>
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>
</div>
