<div class="privilages-details  ">
    <h2 class="text-center"><span>Raj Manek</span> is a donation manager at vadtal</h2>
    <!-- User prilileges Grid -->
    <div class="privilages-table">
        <h3>Users
            <small class="on-right">
                <md-checkbox  [checked]="this.isFullAccess && this.isCreate && this.isRead && this.isEdit && this.isSuspend && this.isResetPassword" align="start" (change)="onAllUserPrivilgesChange()"> Give all Previleges</md-checkbox>
            </small>
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-horizontal-header"></th>
                <th class="column-custom-width">Full access</th>
                <th class="column-custom-width">Create</th>
                <th class="column-custom-width">Read</th>
                <th class="column-custom-width">Edit</th>
                <th class="column-custom-width">Suspend</th>
                <th class="column-custom-width">Reset password</th>
                <th class="column-custom-width"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="text-left">Privileges</td>
                <td>
                    <md-checkbox (change)="onAllAccessChange($event)" [checked]="isFullAccess" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox (change)="onCreateChange($event)" [checked]="isCreate" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox (change)="onReadChange($event)" [checked]="isRead" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox (change)="onEditChange($event)" [checked]="isEdit" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox (change)="onSuspendChange($event)" [checked]="isSuspend" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox (change)="onPasswordChange($event)" [checked]="isResetPassword" align="end"></md-checkbox>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
    <!-- end grid -->

    <!-- Admin roles prilileges Grid -->
    <div class="privilages-table">
        <h3>Admin roles
            <small class="on-right">
                <md-checkbox [checked]="false" align="start"> Give all Privileges</md-checkbox>
            </small>
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-horizontal-header"></th>
                <th class="column-custom-width">Full access</th>
                <th class="column-custom-width">Create</th>
                <th class="column-custom-width">Read</th>
                <th class="column-custom-width">Edit</th>
                <th class="column-custom-width">Suspend</th>
                <th class="column-custom-width">Assign</th>
                <th class="column-custom-width">Unassign</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="text-left">Privileges</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
    <!-- End grid -->

    <!-- Temples prilileges Grid -->
    <div class="privilages-table">
        <h3>Temples
            <small class="on-right">
                <md-checkbox [checked]="false" align="start"> Give all Privileges</md-checkbox>
            </small>
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="table-horizontal-header"></th>
                <th class="column-custom-width">Full access</th>
                <th class="column-custom-width">Create</th>
                <th class="column-custom-width">Read</th>
                <th class="column-custom-width">Edit</th>
                <th class="column-custom-width">Suspend</th>
                <th class="column-custom-width"></th>
                <th class="column-custom-width"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="text-left">Privileges</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="clearfix"></div>
    </div>
    <!-- End grid -->

    <!-- Donation prilileges Grid -->
    <div class="privilages-table">
        <h3>Donation
            <small class="on-right">
                <md-checkbox [checked]="false" align="start"> Give all Privileges</md-checkbox>
            </small>
        </h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="90px"></th>
                <th class="column-custom-width">Full access</th>
                <th class="column-custom-width">Create</th>
                <th class="column-custom-width">Read</th>
                <th class="column-custom-width">Edit</th>
                <th class="column-custom-width">Suspend</th>
                <th class="column-custom-width">Delete</th>
                <th class="column-custom-width"></th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="text-left">Area management</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="text-left">Year management</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="text-left">Donation book type</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="text-left">Prashad management</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="text-left">Chart management</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="text-left">Account management</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
            </tr>

            <tr>
                <td class="text-left">Donation book</td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <md-checkbox [checked]="false" align="end"></md-checkbox>
                </td>
                <td></td>
            </tr>
            </tbody>
            <div class="clearfix"></div>
        </table>
    </div>
    <!-- End grid -->
</div>