.privilages-details {
    width: 90%;
    margin: 0 auto;
}

.privilages-table {
    box-shadow: 0px 3px 1px 1px rgba(0, 0, 0, 0.14), 2px 1px 10px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.08);*/
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.privilages-table h3 {
    padding: 13px 20px 6px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.32);
}

table {
    width: 100%;
    text-align: center;
    line-height: 3em;
    padding: 0px 5px 14px 18px;
}

table thead tr th {
    font-weight: normal;
    font-weight: 300;
    color: #666;
    font-size: 15px;
}

table tbody tr td {
    font-size: 15px;
}

table .table-horizontal-header {
    width: 120px;
    text-align: left;
}

.column-custom-width {
    width: 80px;
}