/* - - - - -  Sidenav Menu  - - - - - */
.vadatalLogo{
    text-align: center;
    margin-bottom: 15px;
}
.vadatalLogo img{
    width: 120px;
    text-align: center;
}
.vadatalLogo h3{
    margin:0px;
    color:#d84315;
    font-size:20px;
    font-weight: bold;
}
.md2.md-nav-list.mainMenu{
    border-top:1px solid #f4f4f4;
}
.md2.md-nav-list.mainMenu i.material-icons{
    font-size: 20px;
    margin-right: 15px;
}
md-list md-list-item .md-list-item,
md-list a[md-list-item] .md-list-item,
md-nav-list md-list-item .md-list-item,
md-nav-list a[md-list-item] .md-list-item{
    font-family: 'Noto Sans', sans-serif;
    color:#333;
}
md-list md-list-item .md-list-item:hover,
md-list a[md-list-item] .md-list-item:hover,
md-nav-list md-list-item .md-list-item:hover,
md-nav-list a[md-list-item] .md-list-item:hover{
    color:#d84315;
}
