<div class="vadatalLogo">
    <img src="../../images/vadtalLogo.png">
    <h3>{{titleConstants.DRAWER}}</h3>
</div>

<md-nav-list role="list" class="md2 md-nav-list mainMenu">
    <a (click)="slideRef.close()" md-list-item="" role="listitem" routerLink="/{{routeHome}}" routerLinkActive="active">
        <div class="md-list-item">
            <div class="md-list-text"></div>
            <i class="material-icons">&#xE88A;</i> {{titleConstants.HOME}}
        </div>
    </a>

    <a (click)="slideRef.close()" md-list-item="" role="listitem" routerLink="/{{routeHome}}/{{routeUser}}" routerLinkActive="active">
        <div class="md-list-item">
            <div class="md-list-text"></div>
            <i class="material-icons">&#xE8D3;</i> {{titleConstants.USER}}
        </div>
    </a>

    <a (click)="slideRef.close()" md-list-item="" role="listitem" routerLink="/{{routeHome}}/{{routeDonation}}" routerLinkActive="active">
        <div class="md-list-item">
            <div class="md-list-text"></div>
            <i class="material-icons">&#xE89A;</i> {{titleConstants.DONATION}}
        </div>
    </a>

    <a (click)="slideRef.close()" md-list-item="" role="listitem" routerLink="/{{routeHome}}/{{routeAccommodation}}" routerLinkActive="active">
        <div class="md-list-item">
            <div class="md-list-text"></div>
            <i class="material-icons">&#xE53A;</i> {{titleConstants.ACCOMMODATION}}
        </div>
    </a>

    <a (click)="slideRef.close()" md-list-item="" role="listitem" routerLink="/{{routeHome}}/{{routeTemple}}" routerLinkActive="active">
        <div class="md-list-item">
            <div class="md-list-text"></div>
            <i class="material-icons">&#xE84F;</i> {{titleConstants.TEMPLE_MANAGEMENT}}
        </div>
    </a>

    <a (click)="slideRef.close()" md-list-item="" role="listitem" routerLink="/{{routeHome}}/{{routeReport}}" routerLinkActive="active">
        <div class="md-list-item">
            <div class="md-list-text"></div>
            <i class="material-icons">&#xE6E1;</i> {{titleConstants.REPORT}}
        </div>
    </a>
</md-nav-list>
