<div class="page-not-found-section">
  <img src="../../../images/404Icon1.png" class="notFoundImage">
  <div class="notFoundContent">
    <p>Page not found!</p>
  </div>
  <div class="backToHome">Back to <a (click)="returnHome()">home</a></div>
</div>