<div class="demo-data-table donationTable">
    <div>
        <!-- year management table -->
        <table class="table table-striped " [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
               [(activePage)]="activePage">
            <thead>
            <tr>
                <th style="width:5%">
                    <md-checkbox name="selectAll" [checked]="toggle" (change)="toggleAll()"></md-checkbox>
                </th>
                <th style="width: 20%" md2-sort-field="year">Year</th>
                <th style="width: 50%" md2-sort-field="dateRange">Date range</th>
                <th style="width: 14%">Status</th>
                <th style="width: 16%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let year of yearList | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index">
                    <td><md-checkbox type="checkbox" [checked]="year.checked" (change)="toggleYear(year)"></md-checkbox></td>
                    <td>{{year.gujaratiYear}}</td>
                    <td>{{year.startDate | date}} - {{ year.endDate | date}}</td>
                    <td>{{(year.isEnable == 1)?"Active":"Suspended"}}</td>
                    <td><i tooltip="Edit" tooltip-position="before" tooltip-delay="0" class="material-icons" (click)="show(editYearDetail,year)">&#xE150;</i></td>
                </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2">
                    <!-- for pagination -->
                </td>
                <td colspan="2">
                    <md2-pagination [md2-rows]="[5,10,15]"></md2-pagination>
                </td>
            </tr>
            </tfoot>
        </table>
        <pagination-controls (pageChange)="getYear(page=$event)" #api></pagination-controls>
        <button md-fab tooltip="Create a year" tooltip-position="before" tooltip-delay="0" class="add-circle-btn" (click)="show(newYear)">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
</div>

<!-- For create a new year model -->
<md2-dialog #newYear title="Create a new year">

    <form [formGroup]="yearForm" novalidate (ngSubmit)="saveYear(yearForm.value,yearForm.valid)">
        <div class="col-md-12">
            <md-input class="form-control" formControlName="gujaratiYear" type="text" placeholder="Samvat gujarati year *"></md-input>
        </div>

        <div class="col-md-6">
            <md2-datepicker formControlName="startDate" #startDate type="date" placeholder="Date" format="DD/MM/YYYY" (change)="handleChange($event)">
            </md2-datepicker>
        </div>

        <div class="col-md-6">
            <md2-datepicker formControlName="endDate" #endDate type="date" placeholder="Date" format="DD/MM/YYYY" (change)="handleChange($event)">
            </md2-datepicker>
        </div>
        <div class="clearfix"></div>

        <md2-dialog-footer>
            <button type="button" (click)="close(newYear)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button [ngClass]="'modal-save-btn'">Create</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>

<md2-dialog #editYearDetail title="Edit Year Detail">

    <form [formGroup]="yearForm" novalidate (ngSubmit)="saveYear(yearForm.value,yearForm.valid,editYearDetail)">
        <div class="col-md-12">
            <md-input class="form-control" formControlName="gujaratiYear" type="text" placeholder="Samvat gujarati year *"></md-input>
        </div>

        <div class="col-md-6 margin-top-10">
            <md2-datepicker formControlName="startDate" #startDate type="date" placeholder="Date" format="DD/MM/YYYY" (change)="handleChange($event)">
            </md2-datepicker>
        </div>

        <div class="col-md-6 margin-top-10">
            <md2-datepicker formControlName="endDate" #endDate type="date" placeholder="Date" format="DD/MM/YYYY" (change)="handleChange($event)">
            </md2-datepicker>
        </div>
        <div class="clearfix"></div>

        <md2-dialog-footer>
            <button type="button" (click)="close(editYearDetail)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button [ngClass]="'modal-save-btn'">Update</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>