.bg-fix{
    height: 100%;
    width: 100%;
    position: fixed;
    background: #f1f1f1;
}
.user-details-main{
    background: #f1f1f1;
    padding: 50px 0px;
}
.privilages-details{
    width: 90%;
    margin: 0 auto;
}
.privilages-table{
    box-shadow: 0px 3px 1px 1px rgba(0,0,0,0.14),2px 1px 10px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
    /*border-bottom: 1px solid rgba(0, 0, 0, 0.08);*/
    padding-bottom: 15px;
    margin-bottom:10px;
}
.privilages-table h3{
    padding: 13px 20px 6px 20px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.32);
}
table{
    width: 100%;
    text-align: center;
    line-height: 3em;
    padding: 0px 5px 14px 18px;
}
table thead tr th{
    font-weight: normal;
    font-weight: 300;
    color: #666;
    font-size: 15px;
}
table tbody tr td{
    font-size: 15px;
}
table .table-horizontal-header{
    width: 120px;
    text-align: left;
}
.column-custom-width{
   width: 80px;
}

.temple-details{
    width: 850px;
    box-shadow: 0px 1px 1px #ccc;
    margin: 0 auto;
    margin-top:0px;
    margin-bottom: 50px;
    background-color: #fefefe;
}
.temple-name-detail h2{
    margin-bottom:20px;
}
.temple-name-detail small{
    font-size:18px;
    color: #666 !important;
}
.temple-images{
    padding-bottom: 15px;
}
.temple-detail{
    border-bottom: 1px solid #cccccc;
    padding-bottom: 10px;
}
.users-details-block h2, .contact-details h2{
    margin-top:0px;
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
}
.contact-details h3{
    color: #333;
    font-size: 18px !important;
    margin-bottom: 7px;
}
.users-details-block a, .contact-details{
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
    display: block;
}
.users-details-block a:hover /*, .contact-details:hover*/{
    background-color:#eaeaea;
    cursor: pointer;
}
.users-details-block p{
    color: #666;
    margin:0px;
    font-size: 14px;
}
.contact-details{
    cursor: pointer;
}
.contact-details .col-md-6{
    padding: 0px;
}
.contact-details-collapsed-in h2{
    margin-top: 25px;
    margin-bottom: 10px;
}
.contact-details label{
    color: #333;
}
.contact-details span {
    color: #666;
}
.contact-details > div{
    cursor: pointer;
}
.contact-details p{
    margin: 0px;
    color: #666;
    font-size: 14px;
}
.material-icons{
    cursor: pointer;
    font-size: 18px;
}
.inner-div-bottom-spacing .row .col-md-12 .col-md-6{
    margin-bottom: 20px !important;
}
.inner-div-bottom-spacing .row{
    cursor: default;
}
.last-seen{
    color: #666;
    font-size: 14px;
}
.label-text-right{
    text-align: right !important;
    padding: 0px !important;
    font-size: 15px !important;
    color: #000 !important;
}
.span-text-right{
    font-size: 15px !important;
    text-align: left;
    padding-left: 7px !important;
    padding-right: 3px !important;
}
.temple-images .file-upload{
    height:170px !important;
    width:170px !important;
}