<!--<p>
    userDetail under dev.!
    Check User Privileges. Its done
</p>

<div>
    <b>Click here :</b> <a routerLink="/home/user/user-priviliges" style="text-decoration: underline;"> User
    Privileges</a>
</div>-->

<!-- User details section -->
<div class="user-details-main">
    <div class="temple-details">
        <div class="temple-detail">
            <div class="col-md-3 temple-images">
                <div class="file-upload">
                    <div class="uploadFile-overlay">
                        <i class="material-icons">&#xE150;</i>
                        <div>Change Image</div>
                        <i class="material-icons">&#xE872;</i>
                    </div>

                    <input type="file" (change)="changeListner($event)" accept=".png, .jpg, .jpeg, .gif"/>
                    <img src="{{(user?.image == '' || user?.image == null) ? '../../../images/userIcon.png' : appConstant.BASE_USER_IMAGE_URL+user?.image}}"
                         class="image"/>
                </div>
            </div>

            <div class="col-md-9 temple-name-detail">
                <div class="col-md-12 PLR0">
                    <h2>{{user?.firstName}} {{user?.lastName}}
                        <a class="action-icon" (click)="showEditUserDetails(editUserDetails)">
                            <i class="material-icons on-right ML25" tooltip="Edit" tooltip-position="after"
                               tooltip-delay="0">&#xE254;</i>
                        </a>
                        <a class="action-icon">
                            <i class="material-icons on-right" tooltip="Change password" tooltip-position="before"
                               tooltip-delay="0">&#xE897;</i>
                        </a>
                    </h2>

                    <small>{{user?.username}}</small>
                    <br>
                    <small>{{user?.roleId}} &bull; {{user?.temple.name}}</small>
                    <br>
                    <span class="last-seen">Last signed in at {{(user?.last_login  == '' || user?.last_login == null) ? "-" : user?.last_login[0]?.loginTime}}</span>
                </div>
                <div class="clearfix"></div>

                <div class="col-md-12 margin-top-10">
                    <section class="demo-section on-right margin-top-15">
                        <md-button-toggle-group name="alignment" name="checkbox">
                            <md-button-toggle value="left" class="active-temple-btn" (click)="activeUser()">{{
                                activeBtnValue }}
                            </md-button-toggle>
                            <md-button-toggle value="center" class="suspend-temple-btn" (click)="suspendUser()">{{
                                suspendBtnValue }}
                            </md-button-toggle>
                        </md-button-toggle-group>
                    </section>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div >
            <!--class="users-details-block"-->
            <a (click)="isCollapsed = !isCollapsed">
                <!--routerLink="/home/user/user-priviliges" routerLinkActive="active"-->

                <h2>Privileges</h2>
                <p>Manage the user's privileges</p>

            </a>
            <div *ngIf="isCollapsed">
                <app-userprivilege [privileges]="user?.privileges"></app-userprivilege>
            </div>
        </div>

        <div [attr.class]="hoverEffectClass()">
            <div class="contact-details">
                <div (click)="isCollapsed = !isCollapsed">
                    <h2>User details</h2>
                    <p *ngIf="!isCollapsed">See user details of this user</p>
                    <div class="clearfix"></div>
                </div>
                <div class="contact-details-collapsed-in inner-div-bottom-spacing" *ngIf="isCollapsed">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Mobile :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.mobileNo)}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Landline :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.landlineNo)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Email :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.email)}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Date of birth :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.email)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Country :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.country.name)}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">State :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.state.name)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">City :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.city.name)}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Pincode :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.pincode)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Address :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.localAddress)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <h3>Id Proof</h3>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Election card :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.electionCard)}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Aadhar card :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.adharCard)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Driving license :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.licenceNo)}}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="col-md-4 label-text-right">Pan card :</label>
                                <div class="col-md-8 span-text-right">
                                    <span>{{checkValueNull(user?.panCardNo)}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="bg-fix"></div>
<!-- End user section -->

<!-- For edit user details model-->
<md2-dialog #editUserDetails title="Edit user details">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Mobile Number"
                              value="938-843-XXXX"></md-input>
                </div>
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Landline Number"
                              value="938-843-XXXX"></md-input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Email"
                              value="yourname@email.domain"></md-input>
                </div>
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Date of birth"
                              value="10 Dec 2016"></md-input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <select class="form-control">
                        <option value="" disabled>Country</option>
                        <option selected>India</option>
                        <option>China</option>
                        <option>Japan</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <select class="form-control">
                        <option value="" disabled>State</option>
                        <option selected>Gujrat</option>
                        <option>Bihar</option>
                        <option>U.P.</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Select city" value="Ahmedabad"></md-input>
                </div>
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Pincode" value="380 015"></md-input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12">
                    <md-textarea class="form-control" type="text" placeholder="Address"
                                 value=" Lorem Ipsum is simply dummy text of the printing and typesetting industry."></md-textarea>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Election Card"
                              value="3926432249314"></md-input>
                </div>
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Aadhar Card"
                              value="3926432249314"></md-input>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Driving license"
                              value="3926432249314"></md-input>
                </div>
                <div class="col-md-6">
                    <md-input class="form-control" type="text" placeholder="Pan Card" value="3926432249314"></md-input>
                </div>
            </div>
        </div>

        <md2-dialog-footer>
            <button button type="button" (click)="closeEditUserDetails(editUserDetails)" [ngClass]="'modal-cancel-btn'">
                Cancel
            </button>
            <button button [ngClass]="'modal-save-btn'">Update</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>
<!-- End model -->