<div class="admin-roles-contnet">
    <div class="col-md-3 sideBar">
        <h3 class="header-title">
            <button type="button" class="btn-default" (click)="showCreateRoleDialouge(createRoleDialog)">CREATE A NEW
                ROLE
            </button>
            <div class="margin-top-15">System roles</div>
        </h3>

        <md-nav-list role="list" class="md2 md-nav-list admin-roles-sidemenu" *ngFor='let role of roles'>
            <a *ngIf="role.level == 1 || role.level == 2" md-list-item="" role="listitem" routerLinkActive="active">
                <div class="md-list-item" (click)="getUsersRoleWise(role)"> {{role.name}}</div>
            </a>
        </md-nav-list>

        <h3 class="header-title">
            <div class="margin-top-15">User created roles</div>
        </h3>

        <md-nav-list role="list" class="md2 md-nav-list admin-roles-sidemenu" *ngFor='let role of roles'>
            <a *ngIf="role.level == 3" md-list-item="" role="listitem" routerLinkActive="active">
                <div class="md-list-item" (click)="getUsersRoleWise(role)"> {{role.name}}</div>
            </a>
        </md-nav-list>
    </div>

    <div class="col-md-9 no-padding">
        <div class="admin-role-grid">
            <h3 class="update-profile-header">
                <div>Chief admin</div>
                <small>Role for full adminstrative rights</small>

                <span class="admin-user-role-update-dropdown">
                    <!-- menu opens when trigger button is clicked -->
                    <button md-button disableRipple class="btn-custom" [md-menu-trigger-for]="menu">More actions <i
                            class="material-icons">&#xE5C5;</i></button>
                    <md-menu #menu="mdMenu">
                        <button md-menu-item disableRipple> Edit role </button>
                        <button md-menu-item disableRipple
                                (click)="showSuspendRole(suspendRole)"> Suspend role </button>
                    </md-menu>
                </span>
            </h3>

            <div class="clearfix"></div>

            <div class="margin-top-15">
                <h4 class="admin-grid-title"><span>Admins</span></h4>
                <div class="assignroles-buttons">
                    <button type="button" class="btn-bordered" (click)="showAssignRole(assignRole)">ASSIGN ADMINS
                    </button>
                    <!--<button type="button" class="btn-bordered" disabled (click)="showUnassignRole(unassignRole)">
                        UNASSIGN ADMINS
                    </button>-->
                </div>
            </div>

            <div class="demo-data-table admin-roles-table margin-top-15">
                <div>
                    <table class="table table-striped" [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
                           [(activePage)]="activePage">
                        <thead>
                        <tr>
                            <th style="width:1%"></th>
                            <th style="width: 30%" md2-sort-field="Administrator">Administrator</th>
                            <th style="width: 25%" md2-sort-field="Username">Username</th>
                            <th style="width: 25%" md2-sort-field="Temple">Temple</th>
                        </tr>
                        </thead>
                        <tbody class="cursor-pointer">
                        <tr *ngFor="let user of users | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index">
                            <td>
                                <md-radio-button [checked]="false" align="end"></md-radio-button>
                            </td>
                            <td>{{user.role.name}}</td>
                            <td>{{user.username}}</td>
                            <td>{{user.temple.name}}</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="3">
                                <pagination-controls (pageChange)="getNewUsers(page=$event)" #api></pagination-controls>
                            </td>
                            <td colspan="4">
                                <md2-pagination [md2-rows]="appConstant.PAGINATION_ARRAY"
                                                (change)="changeNumberOfPerPageUsers($event.target.value)"></md2-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <md2-dialog #createRoleDialog title="Create a new role">
                <form [formGroup]="rolesForm" novalidate (ngSubmit)="addRoles(rolesForm.value, createRoleDialog)">
                    <div class="col-md-12">
                        <md-input formControlName="name" class="form-control" type="text" placeholder="Name"></md-input>
                    </div>
                    <div class="col-md-12">
                        <md-input formControlName="code" class="form-control" type="text" placeholder="Code"></md-input>
                    </div>

                    <div class="col-md-12">
                        <md-textarea formControlName="description" class="form-control" type="text"
                                     placeholder="Description"></md-textarea>
                    </div>

                    <div class="clearfix"></div>
                    <md2-dialog-footer>
                        <button button type="button" (click)="createRole.close();"
                                [ngClass]="'modal-cancel-btn'">Cancel
                        </button>
                        <button button type="button" [ngClass]="'modal-save-btn'">Create</button>
                    </md2-dialog-footer>
                </form>
            </md2-dialog>

            <!-- For assign a new role model -->
            <md2-dialog #assignRole>
                <md2-dialog-title>Assign admins for role : <span class="bold">Chief admin</span></md2-dialog-title>
                <div class="col-md-12 adminRolesField margin-top-10">
                    <md-input class="form-control" type="text" placeholder="Administrators"></md-input>
                    <div class="adminRights">Admin rights on: <span>All</span></div>
                </div>
                <div class="clearfix"></div>

                <md2-dialog-footer>
                    <button button type="button" (click)="assignRole.close()"
                            [ngClass]="'modal-cancel-btn'">Cancel
                    </button>
                    <button button type="button" [ngClass]="'modal-save-btn'">Assign</button>
                </md2-dialog-footer>
            </md2-dialog>

            <!--<md2-dialog #unassignRole id="unassignRole">
                <md2-dialog-title>Confirmation</md2-dialog-title>
                <div class="text-center">Are you sure want to unassign selected admin from this role?</div>
                <div class="clearfix"></div>

                <md2-dialog-footer class="text-center">
                    <button button type="button" (click)="unassignRole.close()"
                            [ngClass]="'modal-cancel-btn'">Cancel
                    </button>
                    <button button type="button" [ngClass]="'modal-save-btn'">unAssign</button>
                </md2-dialog-footer>
            </md2-dialog>-->

            <md2-dialog #suspendRole title="Suspend role">
                <div class="col-md-12 suspend-confirm-label">Are you sure want to suspend the role : <span class="bold">Chief admin</span>?
                </div>
                <div class="clearfix"></div>

                <div class="margin-top-10 col-md-12 suspend-confirm-check">
                    <md-checkbox [checked]="false" align="start">
                        <span>Suspend the role even if it is assigned to user.</span>
                        <div>Note that these users will lose administrative privileges corresponding to this role and
                            may also lose access to cpanel completely.
                        </div>
                    </md-checkbox>
                </div>
                <div class="clearfix"></div>

                <md2-dialog-footer>
                    <button button type="button" (click)="suspendRole.close()" [ngClass]="'modal-cancel-btn'">
                        Cancel
                    </button>
                    <button button type="button" [ngClass]="'modal-save-btn'">Suspend</button>
                </md2-dialog-footer>
            </md2-dialog>
        </div>
    </div>
</div>