.sideBar {
}

.header-title {
    text-align: left;
    margin: 0px 0px;
    padding:23px 20px 10px 36px;
    font-weight: bold;
}
.header-title div{
    margin-left: 10px;
    font-size: 16px;
}
.admin-roles-sidemenu{
    padding-top: 0px;
}
.admin-grid-title{
    border-bottom: 1px solid #cccccc;
}
.admin-grid-title span{
    padding: 6px 11px;
    background: #fff;
    position: relative;
    top: -5px;
    margin-left: 50px;
    border: 1px solid #ccc;
    border-bottom: none;
    color: #d84315;
    font-size: 16px;
}
.filter-block {
    padding: 30px 20px 0px 20px;
}
.md-warn.submit-btn {
    background-color: #ff9800;
    border-radius: 0px !important;
    min-width: 95px !important;
    line-height: 19px !important;
    padding: 6px 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.filter-block .md-warn.submit-btn i {
    font-size: 13px;
    position: relative;
    top: 2px;
}

input.form-control {
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    outline: 0;
    padding: 5px 5px 5px 25px;
}
input.form-control:focus {
    background: #fff;
}
.input-icon {
    position: relative;
}
.add-one {
    position: absolute;
    top: 5px;
    color: #aaa;
}
.add-one i {
    font-size: 17px;
    left: 5px;
    position: relative;
    top: 2px;
}
select.form-control {
    font-size: 16px;
    color: #aaa !important;
}
.assignroles-buttons{
    margin-left: 50px;
}

table {
    display: table;
    border: 0px solid rgba(0, 0, 0, 0.12);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}
table thead tr,table tbody tr{
    position: relative;
    height: 58px;
    vertical-align: middle;
}
table tbody tr{
    height: 45px;
}
tbody tr:hover {
    background-color: #eee;
}
table th, table td {
    padding: 0 16px;
    text-align: left;
}
table thead th {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}
.cancel-btn-custom{
    background: #fff;
    border: 2px solid #333;
    font-size: 14px;
    padding: 5px 36px;
    box-shadow: 0px 0px 0px 0px #333;
    min-height: inherit;
    color: #333;
    border-radius: 0px;
    top: 1px;
    position: relative;
    text-transform: uppercase;
    margin-right: 43px;
    margin-top: 21px;
    margin-bottom: 20px;
    outline: 0;
}
.update-profile-header small{
    color: #666;
    font-size: 15px;
}
.admin-roles-table table td,.admin-roles-table table th{
    padding: 0 0px 0 42px;
    text-align: left;
}
.admin-user-role-update-dropdown{
    float: right;
}
.admin-user-role-update-dropdown .btn-custom{
    font-size: 18px;
    padding: 0 6px 0 10px;
    margin-right: 20px;
}
.suspend-confirm-label{
    font-size: 15px;
    /*margin-left: 10px;*/
}
.suspend-confirm-check{
    font-size: 15px;
    color: #d84315;
}
.adminRights{
    font-size: 14px;
}
.adminRights span{
    color: #333;
}
.remove-close-icon:before{
    background: #d84315 none repeat scroll 0 0 !important;
    content: "";
    height: 33px !important;
    position: absolute;
    right: 11px;
    top: -34px;
    width: 68px !important;
    z-index: 99 !important;
}
.remove-close-icon:after{
    background: #fff none repeat scroll 0 0;
    content: "";
    height: 26px;
    position: absolute;
    right: 10px;
    top: -1px;
    width: 57px;
    z-index: 999 !important;
}