<div class="demo-data-table templeTable">
    <div>
        <!-- Temples list grid -->
        <table class="table table-striped " [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
               [(activePage)]="activePage">
            <thead>
                <tr>
                    <th style="width:5%"></th>
                    <th class="temples-name-row" style="width:20%" md2-sort-field="temples">Temples</th>
                    <th style="width:20%" md2-sort-field="temleAdmin">Temple admin</th>
                    <th style="width:20%" md2-sort-field="city">City</th>
                    <th style="width:20%">Mobile number</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody class="cursor-pointer">
                <tr  *ngFor="let temple of templeList | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index">
                    <td [routerLink]="'/home/temple/temple-detail'" [queryParams]="{id: temple.id}">
                        <span class="templeIcon"><img src="{{(temple?.image == '' || temple?.image == null) ? '../../../images/templeLogo.png' : appConstant.BASE_TEMPLE_IMAGE_URL+temple?.image}}"></span>
                    </td>
                    <td [routerLink]="'/home/temple/temple-detail'" [queryParams]="{id: temple.id}">{{temple.name}}</td>
                    <td >{{temple.user | Names }}</td>
                    <td>{{temple.city.name}}</td>
                    <td>{{temple.mobileNo}}</td>
                    <td><i tooltip="Edit" tooltip-position="before" tooltip-delay="0" class="material-icons">&#xE150;</i></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <pagination-controls (pageChange)="getTemples(page=$event)" #api></pagination-controls>
                    </td>
                    <td colspan="3">
                        <md2-pagination [md2-rows]="[5,10,15]"></md2-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Grid end -->

        <button md-fab class="add-circle-btn" (click)="show(newTemple); resetTempleForm()" tooltip="Create a temple" tooltip-position="before" tooltip-delay="0">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
</div>

<!-- For create a new temple model -->
<md2-dialog #newTemple title="Create a new temple">
    <form [formGroup]="templeForm" novalidate (ngSubmit)="saveTemple(templeForm.value,templeForm.valid)">
        <div class="col-md-12">
            <md-input formControlName="templeName" class="form-control" type="text" placeholder="Temple name"></md-input>
        </div>

        <div class="col-md-12">
            <md-input formControlName="templeShortName"  class="form-control" type="text" placeholder="Short name"></md-input>
        </div>

        <div class="col-md-12">
            <md-input formControlName="templeAddress" class="form-control" type="text" placeholder="Address"></md-input>
        </div>

        <div class="col-md-6">
            <select formControlName="templeCountry" class="form-control">
                <option value="" disabled selected>Country</option>
                <option [value]="country.id" *ngFor="let country of countryList">{{country.name}}</option>
            </select>
        </div>

        <div class="col-md-6">
            <select formControlName="templeState" class="form-control">
                <option value="" disabled selected>State</option>
                <option [value]="state.id" *ngFor="let state of stateList">{{state.name}}</option>
            </select>
        </div>

        <div class="col-md-6">
            <md2-autocomplete [items]="cityList" [item-text]="selectedCity?.name" [item-value]="selectedCity?.id" (change)="onCityChange($event)" placeholder="Select city"></md2-autocomplete>
        </div>

        <div class="col-md-6">
            <md-input formControlName="templePincode" class="form-control" type="text" placeholder="Pincode"></md-input>
        </div>

        <div class="col-md-12">
            <md-input formControlName="templeEmailAddress" class="form-control" type="text" placeholder="Email address"></md-input>
        </div>

        <div class="col-md-6">
            <md-input formControlName="templeLandline" class="form-control" type="text" placeholder="Landline"></md-input>
        </div>

        <div class="col-md-6">
            <md-input formControlName="templePhone" class="form-control" type="text" placeholder="Phone"></md-input>
        </div>

        <div class="clearfix"></div>
        <div class="clearfix"></div>

        <md2-dialog-footer>
            <button button type="button" (click)="close(newTemple)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button button type="button" [ngClass]="'modal-save-btn'">Create</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>