table {
    display: table;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}
table thead tr,table tbody tr{
    position: relative;
    height: 58px;
    vertical-align: middle;
}
table tbody tr{
    height: 45px;
}
tbody tr:hover {
    background-color: #eee;
}
table th, table td {
    padding: 0 16px;
    text-align: left;
}
table thead th {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}
.md2-dialog .md2-dialog-container {
    top: 20px!important;
}
.templeIcon img,.templeIcon div{
    background-color: #e4e4e4;
    width: 35px;
    height: 35px;
    border-radius: 100%;
}
.templeIcon div{
    text-align: center;
    line-height: 1.8em;
    font-size: 20px;
    color: #ff9800;
}
table td{
    padding: 10px 16px 5px 16px;
}
select.form-control{
    font-size: 16px;
    color: #aaa!important;
}
.md-overla-container,.md2-tooltip{
    background: red!important;
}