.sideBar {
    background: #f5f5f5;
    width: 24%;
    position: fixed;
    left: 0px;
    height: 100%;
    z-index:1;
}

.left-panel-main{
    padding-left: 25%;
}

.header-title {
    text-align: left;
    margin: 0px 0px;
    padding: 20px 20px 20px 15px;
    border-bottom: 1px solid #ccc;
}

.md-warn.submit-btn {
    background-color: #ff9800;
    border-radius: 0px !important;
    min-width: 95px !important;
    line-height: 19px !important;
    padding: 6px 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}

.filter-block .md-warn.submit-btn i {
    font-size: 13px;
    position: relative;
    top: 2px;
}

input.form-control {
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    outline: 0;
    padding: 5px 5px 5px 25px;
}

input.form-control:focus {
    background: #fff;
}

.input-icon {
    position: relative;
}

.add-one {
    position: absolute;
    top: 5px;
    color: #aaa;
}

.add-one i {
    font-size: 17px;
    left: 5px;
    position: relative;
    top: 2px;
}

.update-profile-block {

}

select.form-control {
    font-size: 16px;
    color: #aaa !important;
}