<div class=" donorProfileGrid">
    <!-- donor profile filter(Search) bar -->
    <div class="no-padding sideBar">
        <div class="col-md-12">
            <h3 class="header-title">Search by</h3>

            <div class="filter-block">
                <div class="col-md-12 margin-top-15 input-icon">
                    <div class="add-one"><i class="material-icons">&#xE8B6;</i></div>
                    <input placeholder="Mobile number" class="form-control" type="search">
                </div>
                <div class="col-md-12 text-center margin-top-15">OR</div>
                <div class="col-md-12 margin-top-15 input-icon">
                    <div class="add-one"><i class="material-icons">&#xE8B6;</i></div>
                    <input placeholder="Donor id" class="form-control" type="search"/>
                </div>
                <div class="col-md-12 text-left margin-top-15">
                    <button type="button" class="submit-btn md-warn"> <i class="material-icons">&#xE8B6;</i> Search</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

    <!-- Donor update profile details(body) -->
    <div class="col-md-12 left-panel-main">
        <div class="update-profile-block col-md-12">
            <h3 class="update-profile-header col-md-12">Update profile</h3>
            <div class="clearfix"></div>

            <div class="col-md-6">
                <md-input type="text" class="form-control" placeholder="First name*"></md-input>
            </div>

            <div class="col-md-6">
                <md-input type="text" class="form-control" placeholder="Last name*"></md-input>
            </div>

            <div class="col-md-6 margin-top-10">
                <md-input type="text" class="form-control" placeholder="Email address"></md-input>
            </div>

            <div class="col-md-6 margin-top-10">
                <md-input type="text" class="form-control" placeholder="Area"></md-input>
            </div>

            <div class="col-md-12 margin-top-10">
                <md-textarea class="form-control" rows="3" placeholder="Address"></md-textarea>
            </div>

            <div class="col-md-4 margin-top-10">
                <select class="form-control">
                    <option>Country</option>
                </select>
            </div>

            <div class="col-md-4 margin-top-10">
                <select class="form-control">
                    <option>State</option>
                </select>
            </div>

            <div class="col-md-4 margin-top-10">
                <select class="form-control">
                    <option>City</option>
                </select>
            </div>

            <div class="col-md-12 margin-top-15 text-right">
                <button type="button" class="submit-btn md-warn">UPDATE PROFILE</button>
            </div>
        </div>
    </div>
</div>