md-input-placeholder.md-empty {
    color: #aaa;
    font-size: 16px;
}
.addUserForm{
    margin-bottom:20px;
}
.addUserForm h4{
    font-weight: 200;
    color: #333;
}
.file-upload{
    margin-left: 70px;
    background: #ccc;
    border-radius: 100%;
    height: 208px;
    overflow: hidden;
    position: relative;
    top: 101px;
}
.file-upload input[type="file"]{
    opacity: 0;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}
.file-upload .image{
    width: 100%;
    height: 100%;
}
.addUserContainer{
    width: 1177px;
    margin: 0 auto;
    float: inherit;
    z-index: 0;
}
.file-upload:hover .uploadFile-overlay{
    display: block;
}
.uploadFile-overlay{
    display: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    line-height: 4em;
    transform: translateX(0px);
    transition: 5s all ease-in;
    padding-top:42px;
    color: #fff;
}
.uploadFile-overlay i, .uploadFile-overlay div{
    display: block;
    text-align: center;
}
select.form-control{
    font-size: 16px;
    color: #aaa!important;
}