
<div class="col-md-12 addUserContainer">
    <h2 class="col-md-12">Add new user</h2>
    <!-- Add user form -->
    <form class="addUserForm">
        <div class="col-md-9 no-padding">
            <div class="col-md-6">
                <md-input type="text" placeholder="First name *" class="form-control"></md-input>
            </div>
            <div class="col-md-6">
                <md-input type="text" placeholder="Last name *" class="form-control"></md-input>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-6">
                <md-input type="text" placeholder="Mobile number *" class="form-control"></md-input>
            </div>
            <div class="col-md-6">
                <md-input type="text" placeholder="Landline number *" class="form-control"></md-input>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12">
                <md-input type="text" placeholder="Temporary address *"
                             class="demo-full-width form-control"></md-input>
            </div>
            <div class="col-md-12">
                <md-input type="text" placeholder="Permanent address *"
                             class="demo-full-width form-control"></md-input>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-3 margin-top-13">
                <!-- for Country -->
                <ng-select [multiple]="false" placeholder="Select country" [options]="myOptions"></ng-select>
            </div>

            <div class="col-md-3 margin-top-13">
                <!-- for State -->
                <ng-select [multiple]="false" placeholder="Select state" [options]="myOptions"></ng-select>
            </div>

            <div class="col-md-3">
                <md-input type="text" class="form-control" placeholder="City"></md-input>
            </div>

            <div class="col-md-3">
                <md-input type="text" class="form-control" placeholder="Pincode"></md-input>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-6">
                <select class="form-control">
                    <option>Role</option>
                    <option>Admin</option>
                    <option>Vadtal admin</option>
                </select>
            </div>

            <div class="col-md-6">
                <select class="form-control">
                    <option>Temple name</option>
                    <option>Gujrat</option>
                    <option>Goa</option>
                </select>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-6">
                <md-input type="text" placeholder="First name *" class="form-control"></md-input>
            </div>

            <div class="col-md-6">
                <md-input type="text" class="form-control" placeholder="Date of birth"></md-input>
            </div>
            <div class="clearfix"></div>

            <h4 class="col-md-12">Id proof *
                <small>(fill any one)</small>
            </h4>

            <div class="col-md-6">
                <md-input type="text" placeholder="Election card number" class="form-control"></md-input>
            </div>

            <div class="col-md-6">
                <md-input type="text" class="form-control" placeholder="Aadhar card number"></md-input>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-6">
                <md-input type="text" placeholder="Driving licence number" class="form-control"></md-input>
            </div>

            <div class="col-md-6">
                <md-input type="text" class="form-control" placeholder="PAN card number"></md-input>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 text-right margin-top-10">
                <button type="reset" disableRipple md-raised-button class="btn-cancel form-btn">Cancel</button>
                <button type="button" disableRipple md-raised-button class="btn-primary form-btn-submit">Create</button>
            </div>
        </div>

        <div class="col-md-3 no-padding">
            <div class="file-upload">
                <div class="uploadFile-overlay">
                    <i class="material-icons">&#xE150;</i>
                    <div>Change Image</div>
                    <i class="material-icons">&#xE872;</i>
                </div>

                <input type="file" (change)="changeListner($event)" accept=".png, .jpg, .jpeg, .gif"/>
                <img src="../../../images/userIcon.png" class="image"/>
            </div>
        </div>
        <div class="clearfix"></div>
    </form>
    <!-- End form -->
</div>