<div  *ngIf="canShowUserList" class="demo-data-table templeTable">
  <div>
    <table class="table table-striped " [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
           [(activePage)]="activePage">
      <thead>
      <tr>
        <th style="width:10%"></th>
        <th style="width:20%">Name</th>
        <th style="width:20%">Last signed in</th>
        <th style="width:20%">Role</th>
        <th style="width:20%">Phone</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor='let user of users | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index'>
        <td>
          <span class="templeIcon">
            <img src="{{(user?.image == '' || user?.image == null) ? '../../../images/templeLogo.png' : appConstant.BASE_USER_IMAGE_URL+user?.image}}">
          </span>
        </td>
        <td>{{user?.firstName}} {{user?.lastName}}</td>
        <td >{{user?.last_login[0]?.loginTime}}</td>
        <td>{{user?.role.name}}</td>
        <td>{{user?.mobileNo}}</td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="6">
          <md2-pagination [md2-rows]="[5,10,15]"></md2-pagination>
        </td>
      </tr>
      </tfoot>
    </table>
    <pagination-controls (pageChange)="getUsers(page=$event)" #api></pagination-controls>
  </div>
</div>

<div  *ngIf="!canShowUserList" class="text-center temple-admin">
  <h2>You have not created any users for this temple</h2>
</div>
