<div class=" donorProfileGrid">
    <!-- Delete receipt filter -->
    <div class="no-padding sideBar">
        <h3 class="header-title">Search from</h3>

        <div class="filter-block">
            <div class="col-md-12 margin-top-15">
                <select placeholder="Mobile number" class="form-control">
                    <option>Temple name</option>
                </select>
            </div>
            <div class="col-md-12 text-center margin-top-10">OR</div>
            <div class="col-md-12 margin-top-15 input-icon">
                <div class="add-one"><i class="material-icons">&#xE8B6;</i></div>
                <input placeholder="Receipt number" class="form-control" type="search"/>
            </div>
            <div class="col-md-12 text-left margin-top-15">
                <button type="button" class="submit-btn md-warn"><i class="material-icons">&#xE8B6;</i> Search</button>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <!-- Delete receipt details(body) -->
    <div class="col-md-12 left-panel-main">
        <div class="delete-profile-block col-md-12">
            <h3 class="delete-profile-header col-md-12">Are you sure want to delete receipt?</h3>
            <div class="clearfix"></div>

            <div class="col-md-6">
                <label class="md-label">First name: </label> <span>Allen</span>
            </div>

            <div class="col-md-6">
                <label>Last name: </label> <span>Walker</span>
            </div>

            <div class="col-md-6 margin-top-15">
                <label>Mobile number: </label> <span>+91 943-389-XXXX</span>
            </div>

            <div class="col-md-6 margin-top-15">
                <label>Donor id: </label> <span>21343434344</span>
            </div>

            <div class="col-md-6 margin-top-15">
                <label>Receipt number: </label> <span>Receipt 200</span>
            </div>

            <div class="col-md-6 margin-top-15">
                <label>Date: </label> <span>20 Oct 2074</span>
            </div>

            <div class="col-md-6 margin-top-15">
                <label>Temple name: </label> <span>Vadtal</span>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 margin-top-15">
                <table class="table table-striped margin-top-15" [md2-data]="data" #md2="Md2DataTable"
                       [md2-page-length]="5" [(activePage)]="activePage">
                    <thead>
                    <tr>
                        <th>Account</th>
                        <th>Prashad</th>
                        <th>Quantity</th>
                        <th>Amount</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>Thaal</td>
                        <td>Laddu</td>
                        <td>20</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Thaal</td>
                        <td>Laddu</td>
                        <td>20</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <th>TOTAL AMOUNT</th>
                        <td colspan="2">TWO HUNDRED FIFTY ONLY</td>
                        <td>250</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix"></div>

            <div class="col-md-12 margin-top-15">
                <label>USER: </label> <span>Allen Walker</span>
            </div>

            <div class="col-md-12 margin-top-15 text-left">
                <button type="button" class="submit-btn md-warn">DELETE</button>
            </div>
        </div>
    </div>
</div>