.sideBar {
    background: #f5f5f5;
    width: 24%;
    position: fixed;
    left: 0px;
    height: 100%;
    z-index:1;
}

.left-panel-main{
    padding-left: 25%;
}
.header-title{
    text-align: left;
    margin: 0px 0px;
    padding: 20px 20px 20px 36px;
    border-bottom: 1px solid #ccc;
}
.filter-block{
    padding: 30px 20px 0px 20px;
}
.md-warn.submit-btn{
    background-color: #ff9800;
    border-radius: 0px!important;
    min-width: 95px!important;
    line-height: 19px!important;
    padding:6px 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
}
.filter-block .md-warn.submit-btn i{
    font-size: 13px;
    position: relative;
    top: 2px;
}
input.form-control{
    background: #e7e7e7;
    border: 1px solid #e7e7e7;
    outline: 0;
    padding: 5px 5px 5px 25px;
}
input.form-control:focus{
    background: #fff;
}
.input-icon{
    position: relative;
}
.add-one{
    position: absolute;
    top:5px;
    color: #aaa;
}
.add-one i{
    font-size: 17px;
    left: 5px;
    position: relative;
    top: 2px;
}
select.form-control{
    color: #aaa!important;
    border: 1px solid #fff;
    background: #fff;
    padding: 3px 4px;
    font-size: 14px;
    height: 30px;
}
.delete-profile-block label{
    color: #333;
    font-size: 15px;
}
.delete-profile-block span{
    color: #666;
    font-size: 15px;
}

table {
    display: table;
    border:0px solid rgba(0, 0, 0, 0.12);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}
table thead tr,table tbody tr{
    position: relative;
    height:39px;
    vertical-align: middle;
}
table tbody tr{
    height:39px;
}
tbody tr:hover {
    background-color: #eee;
}
table th, table td {
    padding: 0 16px;
    text-align: left;
    padding: 0 0px;
}
table th{
    color: #333;
    font-weight: 500;
}
table td{
    color: #666;
}
table tbody tr{
    border-bottom:1px solid #eae9e9;
}
table tbody tr:last-child{
    border-bottom:0px solid #eae9e9;
}
table thead th {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}