.overLay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background: rgba(43, 43, 43, 0.06);
    display: block;
    z-index: 999999999999;
}
.loadinImg{
    background: url(../../../images/loading.gif);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}