<md-sidenav-layout class="demo-sidenav-layout">
    <div class="body-content">
        <div class="row">
            <div class="col-md-12 loginBackgroundImg">
                <div class="col-md-6">

                </div>
                <div class="col-md-6">
                    <div class="loginForm">

                        <md-card-content>
                            <form>
                                <!-- Login form -->
                                <div *ngIf="loginFormStatus" @flyInOut>
                                    <h3>smartTemple</h3>
                                    <div class="col-md-12">
                                        <md-input value="vadtal" type="text" placeholder="Username" class="form-control" #usename></md-input>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="add-icon">
                                            <md-input value="vadtal" type="password" placeholder="Password"
                                                      class="form-control" #password></md-input>
                                            <i tooltip="Show" tooltip-position="before" tooltip-delay="0" class="material-icons">&#xE417;</i>
                                        </div>
                                        <a class="forgotLink" (click)="forgotPassword()">forgot password?</a>
                                    </div>
                                    <div class="col-md-12 text-right">
                                        <button type="button" disableRipple md-raised-button class="lineButton btn-block"
                                                (click)="login(usename.value,password.value)">Sign in
                                        </button>
                                    </div>
                                </div>
                                <!-- End form -->

                                <!-- Forgot password - Add username form -->
                                <h3 *ngIf="forgotPwdStatus" @flyInOut>Forgot password</h3>
                                <div class="sendOTPForm" *ngIf="sendOTPForm" @flyInOut>
                                    <div class="back-arrow" (click)="backToLoginForm()"><i class="material-icons">&#xE5C4;</i></div>
                                    <div class="col-md-12">
                                        <md-input type="text" placeholder="Enter Username"
                                                  class="form-control"></md-input>
                                    </div>

                                    <div class="col-md-12 text-right">
                                        <button type="button" md-raised-button class="lineButton btn-block"
                                                (click)="sendOTP()">Send OTP
                                        </button>
                                    </div>
                                </div>
                                <!-- End form -->

                                <!-- Forgot password - Get OTP form -->
                                <div class="getOTPForm" *ngIf="getOTPForm" @flyInOut>
                                    <div class="back-arrow" (click)="backToForgotUsernameForm()"><i class="material-icons">&#xE5C4;</i></div>
                                    <div class="col-md-12 margin-top-20">We've send you an OTP to <span>********98</span> and <span>bhav*********@gmail.com</span>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="add-icon">
                                            <md-input type="text" placeholder="Enter OTP" class="form-control"></md-input>
                                            <span class="resendOtp"><a href="">RESEND OTP</a> </span>
                                        </div>
                                    </div>

                                    <div class="col-md-12 text-right">
                                        <button type="button" md-raised-button class="lineButton btn-block"
                                                (click)="setNewPassword()">Submit
                                        </button>
                                    </div>
                                </div>
                                <!-- End form -->

                                <!-- Forgot password - Reset(add new) password form -->
                                <div class="getOTPForm" *ngIf="setNewPasswordForm" @flyInOut>
                                    <h3>Reset password</h3>
                                    <!--<div class="back-arrow" (click)="backTogetOTPForm()"><i class="material-icons">&#xE5C4;</i></div>-->
                                    <div class="col-md-12">
                                        <md-input type="text" placeholder="Enter new password"
                                                  class="form-control MT0"></md-input>
                                    </div>

                                    <div class="col-md-12">
                                        <md-input type="text" placeholder="Re enter password"
                                                  class="form-control"></md-input>
                                    </div>

                                    <div class="col-md-12 text-right">
                                        <button type="button" md-raised-button class="lineButton btn-block"
                                                (click)="resetPassword()">Reset password
                                        </button>
                                    </div>
                                </div>
                                <!-- End form -->

                            </form>
                        </md-card-content>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</md-sidenav-layout>
