body,html{
    overflow: hidden!important;
}
.body-content{
    background: #fff;
}
.loginBackgroundImg{
    background-image: url("../images/templeBackgroundImg.png");
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    background-position: 100% 100%;
}
.loginForm{
    width: 500px;
    margin-top: 120px;
    padding-left: 50px;
    overflow: hidden;
    height:280px;
}
.loginForm h3{
    padding-left: 15px;
    margin: 0;
    margin-bottom: 10px;
    color: #333;
    font-size: 28px;
}
.loginForm .form-control{
    margin-top: 20px;
    color: #666;
}
.forgotLink{
    font-size: 15px;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
    font-style: italic;
    color: #333;
    position: relative;
    top: -7px;
}
.forgotLink:hover{
    text-decoration: underline;
}
.loginForm .md-input-element {
    font-size: 18px;
}
button.lineButton{
    margin-top: 20px;
}
.add-icon .material-icons,.add-icon .resendOtp{
    position: absolute;
    right: 14px;
    top: 32px;
    cursor: pointer;
    color: #d2d2d2;
}
.add-icon .material-icons:hover{
    color:rgba(0, 0, 0, 0.85);
}
.back-arrow{
    position: relative;
    left: -44px;
    margin-top: -45px;
    display: block;
}
.back-arrow i{
    background: #f3f2f2;
    padding: 5px;
    border-radius: 35px;
    cursor: pointer;
}
.add-icon .resendOtp{
    font-size: 15px;
    top: 38px;
    cursor: pointer;
}
.add-icon .resendOtp a{
    color: #666!important;
}
.add-icon .resendOtp:hover{
    text-decoration: underline;
    color: #333!important;
}
#md-overlay-0{
    top: 18px !important;
}
#md-overlay-0 .md-menu-panel{
    min-width: 370px !important;
    max-width: 600px !important;
}