.card-body{
    margin-left: 10px;
    margin-right: 10px;
}
.md-card,.mdCard{
    box-shadow: 0px 0px 0px 0px #fff;
}
.cardBlogs{
    text-align: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.cardBlogs h6,.cardBlogs h3{
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}
.cardBlogs h3{
    color: #333;
    font-size: 18px;
}
.cardBlogs h6{
    padding: 0px 30px;
    font-size: 14px;
    color: #888 ;
}
.cardBlogs img{
    width: 67px;
    cursor: pointer;
}
.cardBlogs .md-card-title-group{
    margin: 0px;
}
.cardBlogs:hover{ background: #F3F3F3;}
.md-card:hover{box-shadow: 0px 0px 0px 0px #fff;}
footer, footer md-card{
    background:#f3f3f3;
}
footer .cardBlogs img{
    width: 60px;
}
footer .cardBlogs h3{
    font-size: 13px;
    font-weight: 600;
}

footer .cardBlogs{
    margin-left: 70px;
    position: fixed;
    width: 100%;
    bottom: 35px;
    margin: 0px;
    padding:18px 26px 2px 26px;
}
footer .moreControlSection{
    position: fixed;
    width: 100%;
    bottom: 0px;
    margin: 0px;
    padding: 9px 20px;
    text-align:center;
    color:#aaa;
    font-size:14px;
    border-top:1px solid #dddddd;
    cursor: pointer;
}
footer .moreControlSection span{
    cursor: pointer;
    font-weight: bold;
    color: #6a6a6a !important;
}