<div class="demo-grid-list">
    <!-- Dashboard Blog View -->
    <md-card class="mdCard">
        <md-card-content class="demo-basic-list">
            <md-grid-list cols="5" [rowHeight]="basicRowHeight">
                <!-- Module Block1(User module) -->
                <md-grid-tile>
                    <a routerLinkActive="active" routerLink="/home/user">
                        <md-card class="cardBlogs">
                            <md-card-title-group>
                                <md-card-title><img src="../../../images/users.png"/></md-card-title>
                                <md-card-title><h3>Users</h3></md-card-title>
                                <md-card-title><h6>Add, Update and Manage users</h6></md-card-title>
                            </md-card-title-group>
                        </md-card>
                    </a>
                </md-grid-tile>

                <!-- Module Block2(Donation module) -->
                <md-grid-tile>
                    <a routerLinkActive="active" routerLink="/home/donation">
                        <md-card class="cardBlogs">
                            <md-card-title-group>
                                <md-card-title><img src="../../../images/donation.png"/></md-card-title>
                                <md-card-title><h3>Donation</h3></md-card-title>
                                <md-card-title><h6>Track your donation here</h6></md-card-title>
                            </md-card-title-group>
                        </md-card>
                    </a>
                </md-grid-tile>

                <!-- Module Block3 (Accomodation module) -->
                <md-grid-tile>
                    <a routerLinkActive="active" routerLink="/home/accomodation">
                        <md-card class="cardBlogs">
                            <md-card-title-group>
                                <md-card-title><img src="../../../images/accommodation.png"/></md-card-title>
                                <md-card-title><h3>Accommodation</h3></md-card-title>
                                <md-card-title><h6>Add, Update, Campus & buildings</h6></md-card-title>
                            </md-card-title-group>
                        </md-card>
                    </a>
                </md-grid-tile>

                <!-- Module Block4 (Temple module) -->
                <md-grid-tile>
                    <a routerLinkActive="active" routerLink="/home/temple">
                        <md-card class="cardBlogs">
                            <md-card-title-group>
                                <md-card-title><img src="../../../images/temples.png"/></md-card-title>
                                <md-card-title><h3>Temples</h3></md-card-title>
                                <md-card-title><h6>Add, Update and Manage temples</h6></md-card-title>
                            </md-card-title-group>
                        </md-card>
                    </a>
                </md-grid-tile>

                <!-- Module Block5 (Reports)-->
                <md-grid-tile>
                    <a routerLinkActive="active" routerLink="/home/report">
                        <md-card class="cardBlogs">
                            <md-card-title-group>
                                <md-card-title><img src="../../../images/reports.png"/></md-card-title>
                                <md-card-title><h3>Reports</h3></md-card-title>
                                <md-card-title><h6>Track usage and services</h6></md-card-title>
                            </md-card-title-group>
                        </md-card>
                    </a>
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
    </md-card>
</div>

<footer>
    <!-- Admin roles module menu -->
    <md-card class="cardBlogs" *ngIf="moreControlFlag" @testingBottom>
        <a routerLinkActive="active" routerLink="/home/admin-roles">
            <md-card-title-group>
                <md-card-title><img src="../../../images/roles.png"/></md-card-title>
                <md-card-title><h3>Admin roles</h3></md-card-title>
            </md-card-title-group>
        </a>
    </md-card>
    <md-card class="moreControlSection" (click)="moreControlFlag = !moreControlFlag;">
        <span>MORE CONTROLS</span>
    </md-card>
</footer>

<!-- Start loading overlay -->
<div class="loading_overlay" *ngIf="loading_overlay_status">
    <div class="loading_image"><img src="../../../images/swaminarayanLoading.gif"></div>
</div>
<!-- End loading overlay -->