
.body-content{
    background: #fff;
    margin-top: 114px;
}
/* ===========  Home page loader ======== */
body {
    background-color:rgba(216, 67, 21, 0);/*#d84315;*/
}
.home-page-loader{
    height: 100%;
    text-align: center;
    margin-top: 170px;
}
.loader {
    display: inline-block;
    width: 300px;
    height: 300px;
    position: relative;
    top: 15%;
    text-align: center;
}
/*.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 288px;
    background-image: url(../images/vadtalLogo.png);
    height: 271px;
    background-size: 100% 100%;
}*/
.loader-inner{
    vertical-align: top;
    display: inline-block;
    width: 300px;
    background-image: url(../images/smartSense_log.png);
    height: 134px;
    background-size: 100% 100%;
}
/*.loader-image{
    vertical-align: top;
    display: inline-block;
    width: 288px;
    background-image: url(../images/vadtalDhamLoading.gif);
    height: 172px;
    background-size: 100%;
    background-position: initial;
    margin-top: -110px;
}*/
/* ========================== Start Common Css ======================= */
.row{
    margin-left:-15px;
    margin-right: -15px;
    clear: both;
}
.margin-top-10{
    margin-top: 10px;
}
.margin-top-13{
    margin-top: 13px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20{
    margin-top: 20px;
}
.ML25{
    margin-left: 25px;
    margin-right: 15px;
}
.MT0{
    margin-top:0px !important;
}
.PLR0{
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.PL0{
    padding-left: 0px !important;
}
.PR0{
    padding-right: 0px !important;
}
.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,
.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    box-sizing: border-box;
}
.col-md-12{
    width: 100%;
}
.col-md-11{
    width:91.66666667%;
}
.col-md-10{
    width:83.33333333%;
}
.col-md-9{
    width:75%;
}
.col-md-8{
    width:66.66666667%;
}
.col-md-7{
    width:58.33333333%;
}
.col-md-6{
    width:50%;
}
.col-md-5{
    width:41.66666667%;
}
.col-md-4{
    width:33.33333333%;
}
.col-md-3{
    width:25%;
}
.col-md-2{
    width: 16.66%;
}
.col-md-1{
    width:8.33%;
}
.form-control{
    width: 100%;
}
.clearfix{
    clear: both;
}
.text-right{
    text-align: right;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.on-right{float: right;}
.on-left{float: left;}
.cursor-pointer{
    cursor: pointer;
}
.overflowHidden{ overflow: hidden !important;}
button.lineButton{
    background: #FF9800;
    font-size: 18px;
    padding:1px 49px;
    box-shadow: 0px 0px 0px 0px #333;
    min-height: inherit;
    color: #fff;
    border-radius: 0px;
    outline:0;
}
button.lineButton:hover {
    background:rgba(255,152,0,0.9) ;
}
button.lineButton.btn-block{
    width: 100%;
}
.md-input-placeholder.md-empty{
    /*color: #666;*/
    /*font-size: 18px;*/
    /*top:-5px;*/
}
.no-padding{
    padding: 0px;
}
select.form-control,select.form-control:active,select.form-control:focus{
    border: none;
    border-bottom: 1px solid #ccc;
    background: none;
    outline: 0;
    cursor: pointer;
    height: 43px;
    margin-bottom:10px;
    color: #333;
}

.demo-toolbar-icon.material-icons{
    cursor: pointer;
}
.donationSection .md2.md-nav-list.mainMenu > a > div{
    padding: 10px 0px;
    height: 31px;
    text-align: left;
}
.donationSection .md2.md-nav-list.mainMenu > a > div:hover,
.donationSection .md2.md-nav-list.mainMenu > a > div:active,
.donationSection .md2.md-nav-list.mainMenu > a > div:focus{
    background: #fff;
}
h2, h3 {
    color: #333;
    font-family: 'Noto Sans', sans-serif;
    font-weight: lighter;
}
.loginForm .md-input-underline, .forgotPwdForm .md-input-underline{
    border-color:#333;
    border-top-width: 2px;
}
md-card.usersGrid, md-card.usersGrid:hover{
    margin: 0px!important;
    padding: 0px;
    box-shadow: 0px 0px 0px -1px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.usersGrid md-grid-tile figure {

    justify-content: flex-start;
}
.md-warn.submit-btn,.default-btn{
    background-color:#ff9800;
    border-radius: 0px!important;
    min-width: 114px!important;
    line-height: 33px!important;
    outline: 0;
}
.md-warn.submit-btn:hover{
    opacity: 0.9;
}
.md-input-element{
    font-size: 14px!important;
    color: #333 !important;
}
.default-btn,.default-btn:hover,.default-btn:active{
    background-color: #fff;
    color: #000;
}
md-list md-list-item .md-list-item, md-list a[md-list-item] .md-list-item, md-nav-list md-list-item .md-list-item, md-nav-list a[md-list-item] .md-list-item{
    height: 44px !important;
}
/* --------- Top Header ------------- */
md-toolbar.md-primary{
    min-height: 50px!important;
}
md-toolbar md-toolbar-row{
    height: 50px!important;
}
.top-header md-toolbar-row{
    height: 64px!important;
    background: #fff;
}
.swaminarayan-title{
    text-align: center;
    color: #d84315;
    margin: 0 auto;
    font-size: 24px;
}
md-toolbar.top-header{
    padding: 0px;
}
a{
    text-decoration: none;
}
.user-action-buttons{
    margin: 0px 8px !important;
}
.user-profile-action-layout{
    font-size: 16px !important;
    text-align: center !important;
    border-radius: 100%;
    background: #fff !important;
    height: 40px !important;
    line-height: 1.7em !important;
    color: #fff !important;
    font-weight: 800 !important;
    margin-right: 15px !important;
    cursor: pointer !important;
    min-width: 40px !important;
    border-radius: 50% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.user-profile-action-layout .md-button-wrapper{
    width: 36px!important;
    height: 36px!important;
    background: #d84315 !important;
    vertical-align: middle;
    display: table-cell;
    border-radius: 100%;
    outline: 0;
}
.user-profile-action-layout .md-button-focus-overlay{
    background-color: rgba(0, 0, 0, 0)!important;
}
.header-list-dropdown{
    position: absolute;
    top: 65px;
    background: #fff;
    width: 350px;
    height: 180px;
    right: 10px;
    box-shadow: 0px 3px 15px #f4f4f4;
    margin: 0;
    padding: 0;
    z-index: 9999999;
}
.top-icon{
    position: relative;
    margin-top: -26px;
    color: #fff;
    height: 25px;
}
.top-icon i{
    position: absolute;
    right: 2px;
    font-size:46px;
    top:0;
}
.header-list-dropdown li{
    list-style-type: none;
}
.dropdown-footer{
    width: 100%;
    height: 45px;
    border-top:1px solid #efefef;
    bottom: 0;
}

.dropdown-footer .lineButton {
    font-size: 13px !important;
    padding: 1px 19px;
    box-shadow: 0px 0px 0px 0px #ff9800;
    min-height: inherit;
    color: #fff;
    line-height: 23px;
    margin: 6px;
    background: #ff9800;
}
.dropdown-footer .lineButton:hover{
    background:  #ff9800;
    opacity: 0.85;
}
.user-profile-image{
    float: left;
    width: 120px;
    height: 120px;
}
.user-details{
    float: left;
    width: 200px;
    margin-top:30px;
}
.user-details h3{
    margin: 4px 0px;
    font-size: 20px;
}
.user-details div{
    font-size: 15px;
}
.user-profile-image .file-upload{
    top: 25px!important;
    margin-left: 15px!important;
    height: 75px!important;
    width: 75px!important;
    background: #d84315!important;
}
.user-profile-image .file-upload:hover .uploadFile-overlay{
    background: none;
}
.user-profile-image .defaultIcon{
    font-size: 37px;
    text-align: center;
    line-height: 2.1em;
    color: #fff;
    font-weight: 700;
    position: absolute;
    left: 26px;
}
.user-profile-image .file-upload .image{
    width: 100%;
    height: 100%;
}
.changeImage-overlay{
    position: absolute;
    bottom: -1px;
    background: #561b08;
    color: #fffefe;
    font-size: 11px;
    width: 100%;
    text-align: center;
    padding: 0px 0px 5px 0px;
}
.file-upload{
    margin-left: 70px;
    background: #ccc;
    border-radius: 100%;
    height: 208px;
    overflow: hidden;
    position: relative;
    top: 101px;
}
.file-upload input[type="file"]{
    opacity: 0;
    height: 100%;
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}
.file-upload .image{
    width: 100%;
    height: 100%;
}
.addUserContainer{
    width: 1177px;
    margin: 0 auto;
    float: inherit;
}
.file-upload:hover .uploadFile-overlay,.file-upload:hover .delete-photo.material-icons{
    display: block;
}
.uploadFile-overlay{
    display: none;
    background: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    line-height: 4em;
    transform: translateX(0px);
    transition: 5s all ease-in;
    padding-top:42px;
    color: #fff;
}
.uploadFile-overlay i, .uploadFile-overlay div{
    display: block;
    text-align: center;
}
.navigation-url span{
    font-size: 16px;
}
.navigation-url span i{
    line-height:11px !important;
}


.md-checkbox-indeterminate.md-accent .md-checkbox-background, .md-checkbox-checked.md-accent .md-checkbox-background {
    background-color: #d84315!important;
}
.md-checkbox-inner-container{
    height: 15px!important;
    width: 15px!important;
}
.md-checkbox-frame {
    border: 2px solid #ccc!important;
    border-radius: 0px!important;
}

/* modal custom css */
.md2-dialog-header{
    background:#d84315!important;
}
.md2-dialog-header h2{
    color: #fff!important;
}
.md2-dialog-footer, md2-dialog-footer {
    border-top: 0px solid rgba(0, 0, 0, 0.12)!important;
}
.md2-dialog {
    background-color: rgba(255, 255, 255, 0.82)!important;
}
button.modal-save-btn,button.modal-cancel-btn{
    background: none!important;
    outline: 0!important;
    color: #ffa11d!important;
    font-size: 16px;
    text-transform: uppercase;
}
button.modal-cancel-btn{
    color:#a1a1a1!important;
}
.md2-dialog .md2-dialog-container{
    border-radius: 0 0 0px 0px!important;
}
.md2-dialog-header .close{
    padding: 23px!important;
    background: #fff!important;
    border-radius: 26px!important;
    top: 36px!important;
    box-shadow: 0px 3px 7px #ccc!important;
    opacity: 1!important;
}
.md2-dialog-header .close::before, .md2-dialog-header .close::after {
    height: 2px!important;
    background: #aaa!important;
    margin-left: 11px!important;
    box-shadow: 0px 3px 4px #333 inset!important;
    width: 50%!important;
}
.md2-dialog{
    overflow: auto!important;
}
/* end modal custom css */

.donationTable table thead th,
.donationTable table tbody td,

.templeTable table thead th,
.templeTable table tbody td,

.admin-roles-table table thead th,
.admin-roles-table table tbody td,

.userListTable table thead th,
.userListTable table tbody td{
    color: #999!important;
    font-weight:500!important;
}

.donationTable table thead th:nth-child(2),
.donationTable table tbody td:nth-child(2),

.templeTable table thead th:nth-child(2),
.templeTable table tbody td:nth-child(2),

.admin-roles-table table thead th:nth-child(2),
.admin-roles-table tbody td:nth-child(2),

.userListTable table thead th:nth-child(2),
.userListTable tbody td:nth-child(2){
    color: #333!important;
}
.btn-default{
    background-color: #fff;
    box-shadow: 0px 0px 0px #ccc;
    border-radius: 0px;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: bold;
    color: #d84315;
    outline: 0;
}
.btn-default:hover,.btn-default:focus{
    background-color: #fff;
}
.up-arrow{
    color: #fff;
    position: absolute;
    right: 0px;
    top: -25px;
    font-size: 45px;
    z-index: 9;
}
.md-overlay-pane .md-menu-panel{
    min-width: 166px !important
;
    max-width: 600px !important;
}
.md-overlay-pane .profile-menu{
    margin-top: 10px;
}

.btn-custom{
    background:#ebebeb;
    color: #333;
    font-weight: bold;
    border-radius: 0px;
    font-size: 15px;
    padding: 10px 18px;
    outline:0;
}
.btn-primary,.btn-cancel,.btn-bordered{
    background-color:#ff9800;
    color: #333!important;
    font-weight: bold!important;
    border-radius: 0px!important;
    font-size: 15px!important;
    padding: 10px 18px;
    outline: 0!important;
    border: 2px solid #ff9800!important;
    box-shadow: 0px 0px 0px 0px #fff!important;
}
.btn-primary:hover{
    opacity: 0.85;
    background-color: #ff9800!important;
}
.btn-cancel{
    background-color:#eceaea;
    border: 2px solid #eceaea!important;
    color: #666;
}
.btn-cancel:hover{
    opacity: 0.85;
    background-color: #eceaea!important;
}
.btn-bordered{
    background-color:#fff;
    border: 2px solid #eceaea!important;
    color: #666;
}
.btn-bordered:hover{
    background-color: #eceaea!important
}

.form-btn-submit,.form-btn{
    text-transform: uppercase;
    font-size: 12px!important;
    padding: 0px 30px!important;
    line-height: 30px!important;
}
.form-btn-submit{
    color:#fff!important;
}
button:disabled,button:disabled:hover{
    background-color: #fff!important;
    color: #666!important;
    cursor: auto;
    opacity: 0.6;
}
/* admin role */
.admin-roles-sidemenu a{
    margin-left: 43px;
    display: inline-block;
    width: 75%;
}
.md-nav-list.admin-roles-sidemenu a .md-list-item {
    font-size: 16px!important;
    height: 30px!important;
    padding: 0 6px!important;
    color: #666;
}
md-toolbar span .material-icons{
    top: 7px;
    position: relative;
}
table i{
    cursor: pointer;
}
table i:hover{
    cursor: pointer;
    color: rgba(0, 0, 0, 0.85)!important;
}
md-nav-list a{
    outline:0;
}
md-toolbar md-toolbar-row{

}
.md-overlay-pane{
    margin-top: 37px!important;
}
.md-menu-content {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
button[md-menu-item]{
    height: 38px!important;
    padding: 0 30px!important;
}
.md2-dialog .md-checkbox-layout{
    display: block!important;
}
.md-checkbox-label div{
    margin-left: 29px;
}
md-sidenav-layout{
    background-color: #fff;
}
md-sidenav-layout, .md-sidenav-content{ transform: none !important; }
md-sidenav.md-sidenav-closing{ transform: translateX(-100%) !important;}
.md-sidenav-backdrop.md-sidenav-shown, md-sidenav.md-sidenav-push{ position: fixed !important; }

.temple-images .file-upload {
    margin-left: 0px!important;
    background: #ccc;
    border-radius: 100%;
    height: 150px;
    width: 150px;
    overflow: hidden;
    position: relative;
    top: 16px!important;
    left: 5px;
}
.temple-details .active-temple-btn.md-button-toggle-checked .md-button-toggle-label-content {
    background-color: #00a651;
    color: #ffffff;
    box-shadow: 0px 0px 0px 1px #00a651;
}
.temple-details .suspend-temple-btn.md-button-toggle-checked .md-button-toggle-label-content{
    background-color:#d83419;
    color: #ffffff;
    box-shadow: 0px 0px 0px 1px #d83419;
}
.temple-details md-button-toggle-group {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 1px rgba(51, 51, 51, 0);
    position: relative;
    display: inline-flex;
    flex-direction: row;
    border-radius: 0px;
    cursor: pointer;
    white-space: nowrap;
}
.temple-details .md-button-toggle-label-content {
    display: inline-block;
    line-height: 29px;
    padding: 0 16px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0px 0px 0px 1px #ccc;
    margin-left: 12px;
    color: #666666;
}
.md-input-underline .md-input-ripple {
    top: -2px !important;
}
.add-circle-btn{
    position: fixed !important;
    right:60px;
    bottom:60px;
    float: right;
    background:rgba(255,152,0,0.8);
    color: #fff!important;
    font-weight: bold!important;
}
.add-circle-btn:hover{
    background:rgba(255,152,0,1);
}
.md2-dialog-header md2-dialog-title, .md2-dialog-header .md2-dialog-title{
    font-size: 18px!important;
    padding-left: 14px!important;
}
.md2-dialog-header {
    padding: 6px 48px 6px 16px !important;
}
.action-icon i{
    color: #666 !important;
}
.action-icon:hover i{
    color: #000 !important;
}
md2-tooltip .md2-tooltip {
    background: rgba(0, 0, 0, 0.18) !important;
    color: #333 !important;
    font-size: 12px !important;
    padding: 2px 6px !important;
    margin: 7px !important;
}
.md2-dialog-header{
    padding: 6px 48px 6px 16px!important;
}
.bold{
    font-weight: bold!important;
}
.md-input-element{
    color: #333!important;
}
.md-radio-inner-circle{
    background-color: #d84315;
}
.md-radio-checked .md-radio-outer-circle {
    border-color: #d84315;
}
md2-tooltip .md2-tooltip{
    background-color:rgb(72, 65, 65)!important;
    color: #fff!important;
    font-size: 12px!important;
    border-radius: 0px!important;
    font-weight:500!important;
    font-family: 'Noto Sans', sans-serif!important;
    padding: 2px 10px!important;
    opacity: 1!important;
}
tbody tr:hover{
    background-color: #f7f7f7!important;
}
tbody tr.suspend{
    background-color: #eee!important;
}
.modal-paragraph{
    font-size: 13px!important;
    color: #504f4f;
    width: 90%!important;
}
[md-raised-button]:active, [md-fab]:active, [md-mini-fab]:active{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12)!important;
}
[md-fab],[md-fab]:active{
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12)!important;
}
.md-sidenav-content app-header .demo-toolbar{
    position: fixed!important;
    width: 100%!important;
    top: 0px!important;
    z-index:1;
}
.temples-logo-row{
    padding: 10px 5px 5px 16px!important;
}
.temples-name-row{
    padding: 10px 5px 5px 0px!important;
}

.ng2-pagination .current{
    background: #ffac33!important;
}
.loginBackgroundImg{
    margin-top: -114px!important;
}
.contactHover:hover{
    background-color: #eaeaea;
}
.md-overlay-container .md-overlay-pane{
    right: 12px!important;
    left: auto!important;
}
/* loading overlay css */
.loading_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.85);
    z-index: 2;
    padding: 13% 0% 0% 0%;
}
.loading_image{
    text-align: center;
    vertical-align: middle;
}
/* End overlay */


/* select searchbox css */
.select2-container--default .select2-selection--single {
    background-color: #fff;
    border: 0px solid #ccc!important;
    border-radius: 1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38)!important;
    outline: 0;
}
.select2-container .select2-selection--single .select2-selection__rendered {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 0px!important;
    color: rgba(0, 0, 0, 0.38)!important;
    font-size: 16px!important;
    font-weight: 300!important;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #d84315!important;
    color: white;
}