<div class="user-details-main">
  <!-- temple details section -->
  <div class="temple-details">
    <div class="temple-detail">
      <div class="col-md-3 temple-images">
        <div class="file-upload">
          <div class="uploadFile-overlay">
            <i class="material-icons upload-edit-icon" tooltip="Edit" tooltip-position="below" tooltip-delay="0">&#xE150;</i>
            <div>Change photo</div>
          </div>

          <input type="file" (change)="changeListner($event)" accept=".png, .jpg, .jpeg, .gif"/>
          <img src="{{(temple?.image == '' || temple?.image == null) ? '../../../images/userIcon.png' : appConstants.BASE_TEMPLE_IMAGE_URL+temple?.image}}" class="image"/>
          <i class="material-icons delete-photo" tooltip="Remove photo" tooltip-position="below" tooltip-delay="0">&#xE872;</i>
        </div>

      </div>

      <div class="col-md-9 temple-name-detail">
        <div class="col-md-12 PLR0">
          <h2>{{temple?.name}}
            <a class="action-icon" (click)="showEditTempleDetails(editTempleDetails); setTempleForm()">
              <i class="material-icons on-right ML25" tooltip="Edit" [tooltip-position]="position" [tooltip-delay]="delay * 1000">&#xE254;</i>
            </a>
          </h2>
          <small>{{(temple?.aliasName == null || temple?.aliasName == "") ?  appConstants.NOT_AVAILABLE_MESSAGE : temple.aliasName }}</small>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 margin-top-10">
          <section class="demo-section on-right margin-top-15">
            <md-button-toggle-group name="alignment" name="checkbox">
              <md-button-toggle value="left" [checked]=temple?.isEnable class="active-temple-btn" (click)="activateTemple()">{{ activeBtnValue }}</md-button-toggle>
              <md-button-toggle value="center" [checked]=!temple?.isEnable class="suspend-temple-btn" (click)="suspendTemple()">{{ suspendBtnValue }}</md-button-toggle>
            </md-button-toggle-group>
          </section>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="users-details-block">
      <a routerLink="/home/temple/temple-user" [queryParams]="{id: temple?.id}">
        <h2>Users in Vadtal</h2>
        <p>{{temple?.user?.length}} users in this temple</p>
      </a>
    </div>
    <div [attr.class]="hoverEffectClass()">
      <div class="contact-details">
      <div (click)="isCollapsed = !isCollapsed">
        <h2>Contact details</h2>
        <p *ngIf="!isCollapsed">See contact details of this temple</p>
        <div class="clearfix"></div>
      </div>
      <div class="contact-details-collapsed-in inner-div-bottom-spacing" *ngIf="isCollapsed">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">Mobile :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.mobileNo == null || temple?.mobileNo == "") ?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.mobileNo}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">Landline :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.landlineNo == null || temple?.landlineNo == "" )?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.landlineNo }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">Email :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.email == null || temple?.email == "" ) ?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.email }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <h3>Geography</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">Country :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.country?.name == null || temple?.country?.name == "" )  ?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.country?.name }}</span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">State :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.state?.name == null || temple?.state?.name == "" ) ?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.state?.name }}</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">City  :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.city?.name == null || temple?.city?.name == "" ) ?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.state?.name }}{{temple?.city?.name}}</span>
              </div>
            </div>
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">Pincode  :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.pincode == null || temple?.pincode == "" ) ?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.pincode }}</span>
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12">
            <div class="col-md-6">
              <label class="col-md-4 label-text-right">Address :</label>
              <div class="col-md-8 span-text-right">
                <span>{{(temple?.address == null || temple?.address == "" )?  appConstants.NOT_AVAILABLE_MESSAGE : temple?.address }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- End temple details -->
  <div class="clearfix"></div>
</div>

<div class="bg-fix"></div>

<!-- For edit temple model -->
<md2-dialog #editTempleDetails title="Edit temple details">
  <form [formGroup]="templeForm" novalidate (ngSubmit)="saveTemple(templeForm.value,templeForm.valid)">
    <div class="col-md-12">
      <md-input formControlName="templeName" class="form-control" type="text" placeholder="Temple name"></md-input>
    </div>

    <div class="col-md-12">
      <md-input formControlName="templeShortName"  class="form-control" type="text" placeholder="Short name"></md-input>
    </div>

    <div class="col-md-12">
      <md-input formControlName="templeAddress" class="form-control" type="text" placeholder="Address"></md-input>
    </div>

    <div class="col-md-6">
      <select formControlName="templeCountry" class="form-control">
        <option [value]="" disabled selected>Country</option>
        <option [value]="country?.id" *ngFor="let country of countryList">{{country?.name}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <select formControlName="templeState" class="form-control">
        <option [value]="" disabled selected>State</option>
        <option [value]="state?.id" *ngFor="let state of stateList">{{state?.name}}</option>
      </select>
    </div>

    <div class="col-md-6">
      <md2-autocomplete [items]="cityList" [item-text]="selectedCity?.name" [item-value]="selectedCity?.id" (change)="onCityChange($event)" placeholder="Select city"></md2-autocomplete>
    </div>

    <div class="col-md-6">
      <md-input formControlName="templePincode" class="form-control" type="text" placeholder="Pincode"></md-input>
    </div>

    <div class="col-md-12">
      <md-input formControlName="templeEmailAddress" class="form-control" type="text" placeholder="Email address"></md-input>
    </div>

    <div class="col-md-6">
      <md-input formControlName="templeLandline" class="form-control" type="text" placeholder="Landline"></md-input>
    </div>

    <div class="col-md-6">
      <md-input formControlName="templePhone" class="form-control" type="text" placeholder="Phone"></md-input>
    </div>

    <div class="clearfix"></div>
    <div class="clearfix"></div>

    <md2-dialog-footer>
      <button button type="button" (click)="closeEditTempleDetails(editTempleDetails)" [ngClass]="'modal-cancel-btn'">Cancel</button>
      <button button type="button" [ngClass]="'modal-save-btn'">Update</button>
    </md2-dialog-footer>
  </form>
</md2-dialog>