.body-content {
    min-height: 600px;
}
.demo-grid-list {
    width: 1100px;
}
md-card {
    margin: 16px 0;
}
p {
    margin: 16px;
}
.demo-basic-list md-grid-tile {
    background: rgba(0, 0, 0, 0.32);

}

/*img {
    width: 350px;
}*/
.demo-basic-list md-grid-tile{
    background: #ffffff;
}

.userIcons{
    border-radius: 50px;
    background: #e4e4e4;
    color: #ff9800;
    font-size: 16px;
    margin-right: 0px;
    width: 35px;
    text-align: center;
    height: 35px;
    line-height: 2.2em;
    overflow: hidden;
    margin-top: 4px;
    margin-left: 11px;
}
.userImgIcon{
    width: 35px;
    border-radius: 52px;
    margin-top: 10px;
    margin-left: 11px;
}
.col-md-2.filterSection{
    padding: 0px 0px 14px 0px;
    background: whitesmoke;
    min-height: 600px;
}
.col-md-2.filterSection h3{
    padding: 16.5px 19px;
    border-bottom: 1px solid #ccc;
    margin: 0px;
}
.control-label{
    font-size: 13px;
    padding: 9px 4px 2px 4px;
    float: left;
    color:#acacac;
}

table {
    display: table;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}
table thead tr,table tbody tr{
    position: relative;
    height: 58px;
    vertical-align: middle;
}
table tbody tr{
    height: 45px;
}
tbody tr:hover {
    background-color: #eee;
}
table th, table td {
    padding: 0 16px;
    text-align: left;
}
table thead th {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}
.userListTable i.material-icons{
    color: #333333;
}
.iconRows{
    padding: 0px 0px 0px 11px!important;
    text-align: right!important;
}
.custom-select-filter, .custom-select-filter:focus, .custom-select-filter:active{
    background: #ffffff;
    height: 34px;
    border: 1px solid #DDDDDD;
    margin-top: 7px;
    padding-left: 7px;
}
.sideBar {
    background: #f5f5f5;
    width: 24%;
    position: fixed;
    left: 0px;
    height: 100%;
    z-index:1;
}
.left-panel-main{
    padding-left: 25%;
}