<div class="filterSection sideBar">
    <div class="col-md-12">
        <div class="col-md-12">
            <h3>Filters</h3>
        </div>
        <div class="col-md-12">
            <label class="control-label">By User Type</label>
            <select class="form-control custom-select-filter">
                <option>Active Users</option>
            </select>
        </div>

        <div class="col-md-12 margin-top-10">
            <label class="control-label">By Temples</label>
            <select class="form-control custom-select-filter">
                <option>Active Swaminarayan</option>
            </select>
        </div>
    </div>
</div>
<!-- End filter -->

<!-- Userlist grid -->
<div class="col-md-12 left-panel-main no-padding demo-data-table userListTable">
    <div class="">
        <table class="table table-striped" [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
               [(activePage)]="activePage">
            <thead>
                <tr>
                    <th style="width:3%"></th>
                    <th style="width:30%" md2-sort-field="name">Name</th>
                    <th style="width:20%" md2-sort-field="name">Last signed in</th>
                    <th style="width:30%" md2-sort-field="name">Temple</th>
                    <th style="width:17%"></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor='let user of users | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index'>
                    <td class="iconRows" [routerLink]="'/home/user/user-detail'" [queryParams]="{id: user.id}" routerLinkActive="active">
                        <img class="userImgIcon" src="{{(user?.image == '' || user?.image == null) ? '../../../images/userIcon.png' : appConstant.BASE_USER_IMAGE_URL+user?.image}}">
                    </td>
                    <td [routerLink]="'/home/user/user-detail'" [queryParams]="{id: user.id}" routerLinkActive="active">{{user.firstName}} {{user.lastName}}</td>
                    <td>{{(user?.last_login[0] == '' || user?.last_login[0] == null) ? "-" : user?.last_login[0]?.loginTime}}</td>

                    <td>{{user.temple.name}}</td>
                    <td><i class="material-icons">&#xE150;</i> <i class="material-icons">&#xE5D4;</i></td>
                </tr>
            </tbody>
            <tfoot class="margin-top-15">
                <tr>
                    <td colspan="3">
                        <pagination-controls (pageChange)="getUsers(page=$event)" #api></pagination-controls>
                    </td>
                    <td colspan="2">
                        <md2-pagination [md2-rows]="[5,10,15]"></md2-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
        <button md-fab disableRipple tooltip="Create a user" tooltip-position="before" tooltip-delay="0" class="add-circle-btn" routerLink="/home/user/user-add" routerLinkActive="active">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
</div>
<!-- End grid -->