table {
    display: table;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
    box-sizing: border-box;
    width: 100%;
}
table thead tr,table tbody tr{
    position: relative;
    height: 58px;
    vertical-align: middle;
}
table tbody tr{
    height: 45px;
}
tbody tr:hover {
    background-color: #eee;
}
table th, table td {
    padding: 0 16px;
    text-align: left;
}
table thead th {
    position: relative;
    vertical-align: middle;
    height: 36px;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}