<div class="demo-data-table donationTable">
    <div>
        <!-- Donation book type grid -->
        <table class="table table-striped " [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
               [(activePage)]="activePage">
            <thead>
                <!-- <tr>
                     <td colspan="4">
                         <input placeholder="Filter By Name" class="md2-input" [(ngModel)]="search" />
                     </td>
                 </tr>-->
                <tr>
                    <th style="width:5%">
                        <md-checkbox name="selectAll" [checked]="toggle" (change)="toggleAll()"></md-checkbox>
                    </th>
                    <th style="width: 24%" md2-sort-field="email">Book type name</th>
                    <th style="width: 24%" md2-sort-field="age">Denomination (Rs.)</th>
                    <th style="width: 22%" md2-sort-field="age">Number of receipt</th>
                    <th style="width: 15%">Status</th>
                    <th style="width: 15%"></th>
                </tr>
            </thead>

            <tbody>
            <tr *ngFor="let bookType of bookTypeList | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index">
                <td><md-checkbox type="checkbox" [checked]="bookType.checked" (change)="toggleBookType(bookType)"></md-checkbox></td>
                <td>{{bookType.name}}</td>
                <td>{{bookType.denomination}}</td>
                <td>{{bookType.numberOfReceipt}}</td>
                <td>{{(bookType.isEnable == 1)?"Active":"Suspended"}}</td>
                <td><i tooltip="Edit" tooltip-position="before" tooltip-delay="0" class="material-icons" (click)="show(editBookTypeDetail,bookType)">&#xE150;</i></td>
            </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">
                        <!-- pagination -->
                    </td>
                    <td colspan="3">
                        <md2-pagination [md2-rows]="[5,10,15]"></md2-pagination>
                    </td>
                </tr>
            </tfoot>
        </table>
        <pagination-controls (pageChange)="getBookType(page=$event)" #api></pagination-controls>
        <button md-fab  tooltip="Create a book type" tooltip-position="before" tooltip-delay="0"[ngClass]="'add-circle-btn'" (click)="show(newBookType)">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
</div>

<!-- For create a new donation book type model -->
<md2-dialog #newBookType title="Create a new donation book type">
    <form [formGroup]="bookTypeForm" novalidate (ngSubmit)="saveDonationBookType(bookTypeForm.value,bookTypeForm.valid)">
        <div class="col-md-12">
            <md-input class="form-control" formControlName="name" type="text" placeholder="Donation book type*"></md-input>
        </div>
        <div class="col-md-12">
            <md-input class="form-control" formControlName="denomination" type="text" placeholder="Denomination*"></md-input>
        </div>
        <div class="col-md-12">
            <md-input class="form-control" formControlName="numberOfReceipt" type="text" placeholder="Total receipts*"></md-input>
        </div>
        <div class="clearfix"></div>
        <md2-dialog-footer>
            <button type="button" (click)="close(newBookType)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button button [ngClass]="'modal-save-btn'">Create</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>

<md2-dialog #editBookTypeDetail title="Create a new donation book type">
    <form [formGroup]="bookTypeForm" novalidate (ngSubmit)="saveDonationBookType(bookTypeForm.value,bookTypeForm.valid,editBookTypeDetail)">
        <div class="col-md-12">
            <md-input class="form-control" formControlName="name" type="text" placeholder="Donation book type*"></md-input>
        </div>
        <div class="col-md-12">
            <md-input class="form-control" formControlName="denomination" type="text" placeholder="Denomination*"></md-input>
        </div>
        <div class="col-md-12">
            <md-input class="form-control" formControlName="numberOfReceipt" type="text" placeholder="Total receipts*"></md-input>
        </div>
        <div class="clearfix"></div>
        <md2-dialog-footer>
            <button type="button" (click)="close(editBookTypeDetail)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button button [ngClass]="'modal-save-btn'">Update</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>