<md-sidenav-layout class="demo-sidenav-layout">

    <app-header (menuClick)="dynamicAlignSidenav.toggle()"></app-header>

    <md-sidenav #dynamicAlignSidenav mode="push" [align]="side">
        <app-sidemenu [slideRef]="dynamicAlignSidenav"></app-sidemenu>
    </md-sidenav>
    <div class="body-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-layout>