<div class="demo-data-table donationTable">
    <div>
        <!-- Area management grid -->
        <table class="table table-striped" [md2-data]="data" #md2="Md2DataTable" [md2-page-length]="5"
               [(activePage)]="activePage">
            <thead>
            <tr>
                <th style="width: 4%">
                    <md-checkbox name="selectAll" [checked]="toggle" (change)="toggleAll()"></md-checkbox>
                </th>
                <th style="width: 60%" md2-sort-field="area">Area</th>
                <th style="width: 20%">Status</th>
                <th style="width: 10%"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let area of areaList | paginate: {itemsPerPage: appConstant.PAGINATION_SIZE, currentPage: page, totalItems: totalCount};let i = index">
                <td><md-checkbox type="checkbox" [checked]="area.checked" (change)="toggleArea(area)"></md-checkbox></td>
                <td>{{area.name}}</td>
                <td>{{(area.isEnable == 1)?"Active":"Suspended"}}</td>
                <td><i tooltip="Edit" tooltip-position="before" tooltip-delay="0" class="material-icons" (click)="show(editAreaDetail,area)">&#xE150;</i></td>
            </tr>
            </tbody>
        </table>
            <!--<tfoot>-->
            <!--<tr>-->
                <!--<td colspan="4">-->
                    <!--<md2-pagination [md2-rows]="[5,10,15]"></md2-pagination>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
        <pagination-controls (pageChange)="getArea(page=$event)" #api></pagination-controls>
        <button md-fab tooltip="Create a area" tooltip-position="before" tooltip-delay="0" class="add-circle-btn" (click)="show(newArea)">
            <md-icon class="md-24">add</md-icon>
        </button>
    </div>
</div>

<!-- For create a new area model -->
<md2-dialog #newArea title="Create a new area">
    <!--<div class="col-md-12">-->
        <!--<p class="modal-paragraph">From here you can add the areas/regions in which you wish to divide your donations from various temples. Areas could be like "Vadtal", "Rajkot", "Surat" and likewise. This area shall reflect in donation receipt and the reports as well.</p>-->
    <!--</div>-->
    <form [formGroup]="areaForm" novalidate (ngSubmit)="saveArea(areaForm.value,areaForm.valid)">
        <div class="col-md-12">
            <md-input formControlName="name" class="form-control" type="text" placeholder="Enter area name"></md-input>
        </div>
        <div class="clearfix"></div>

        <md2-dialog-footer>
            <button type="button" (click)="close(newArea)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button button [ngClass]="'modal-save-btn'">Create</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>

<md2-dialog #editAreaDetail title="Edit Area Detail">
    <form [formGroup]="areaForm" novalidate (ngSubmit)="saveArea(areaForm.value,areaForm.valid,editAreaDetail)">
        <div class="col-md-12">
            <md-input formControlName="name" class="form-control" type="text" placeholder="Enter area name"></md-input>
        </div>
        <div class="clearfix"></div>

        <md2-dialog-footer>
            <button type="button" (click)="close(editAreaDetail)" [ngClass]="'modal-cancel-btn'">Cancel</button>
            <button button [ngClass]="'modal-save-btn'">Update</button>
        </md2-dialog-footer>
    </form>
</md2-dialog>